<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Hardenero</title>
	<script src="js/jquery-3.5.1.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css" integrity="sha512-OTcub78R3msOCtY3Tc6FzeDJ8N9qvQn1Ph49ou13xgA9VsH9+LRxoFU6EqLhW4+PKRfU+/HReXmSZXHEkpYoOA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="css/style.css">
	<link href="css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

	<nav class="navbar navbar-inverse" id="navigation">
		<div class="container-fluid">
		  <div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mynavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
		  </div>

		  <div class="collapse navbar-collapse" id="mynavbar">
			<ul class="nav navbar-nav frist-list">
				<li class="active-li"><a href="#">HOME</a></li>
				<li><a href="#">ABOUT</a></li>
				<li><a href="#">SERVICE</a></li>
				<li><a href="#">PROJECTS</a></li>
				<li><a href="#">PRICING</a></li>
				<li><a href="#">BLOG</a></li>
				<li><a href="#">CONTACT</a></li>
			</ul>

			<ul class="nav navbar-nav navbar-right">
				<li><a href="#"><span class="flaticon-gardener"></span></a></li>
			</ul>
		 </div>	
		</div>
	  </nav>

	  <header class="bg-img-set">
		  <div class="container">
				<div class="row">
					<div class="col-md-6 col-sm-9">
						<div class="hero-text">
							<span>welcome to hardenero</span>
							<h1>professional gardeners & landscapers</h1>
							<p>For far away, behind the ward mountains,for from the countries vokalia and Consonantai,
								 there live the blind texts. Separated they live in Bookmarksgrove.</p>
							<a class="btn btn-success">what we do?</a>
							<a class="btn btn-warning">request a quote</a>
						</div>
					</div>
				</div>
		  </div>
	  </header>

	  <main>
		  <section class="agricultural-market">
			  <div class="container">
				  <div class="row">
					  <div class="col-xs-12 col-md-6">
						  <div class="cap-img">
							<img src="https://images.pexels.com/photos/3912947/pexels-photo-3912947.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
						  </div>
					  </div>
					  <div class="col-xs-12 col-md-6">
						  <div class="row">
							  <div class="col-md-12">
								<p class="p">agricultural-market</p>
								<h1>We're Leader In Agricultural Market</h1>
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
								  Separated they live in Bookmarksgrove right at the coast of the Semantics,
								  a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
							  </div>
						  </div>
						  <div class="row">
							  <div class="col-md-6">
								<div class="biography-area">
									<h3>Biography Safe</h3>
									<p>A small river named Duden flows by their place and supplies it with the necessary regelialia</p>
								</div>
							  </div>
							  <div class="col-md-6">
								  <div class="biography-area">
									<h3>Awards Winning</h3>
									<p>A small river named Duden flows by their place and supplies it with the necessary regelialia</p>
								  </div>
							  </div>
						  </div>
					  </div>
				  </div>
			  </div>
		  </section>

		  <section class="total-product">
			  <div class="overlay"></div>
			  <div class="container">
				  <div class="row">
					  <div class="col-lg-3 col-xs-12 col-sm-6 total-col">
						<div class="coun-num d-flex align-center">
							<div class="icon"></div>
							<div class="text">
								<h1>4,800</h1>
								<p>Project completed</p>
							</div>
						</div>	  
					</div>
					  <div class="col-lg-3 col-xs-12 col-sm-6 total-col">
						<div class="coun-num d-flex align-center">
							<div class="icon"></div>
							<div class="text">
								<h1>4,800</h1>
								<p>Project completed</p>
							</div>
						</div>	  
					</div>
					  <div class="col-lg-3 col-xs-12 col-sm-6 total-col">
						<div class="coun-num d-flex align-center">
							<div class="icon"></div>
							<div class="text">
								<h1>4,800</h1>
						  		<p>Project completed</p>
							</div>
						</div>	  
					</div>
					  <div class="col-lg-3 col-xs-12 col-sm-6 total-col">
						<div class="coun-num d-flex align-center">
							<div class="icon"></div>
							<div class="text">
								<h1>4,800</h1>
						  		<p>Project completed</p>
							</div>
						</div>	  
					  </div>
				  </div>
			  </div>
		</section>

		<section class="offer-zone">
			<div class="container">
				<div class="row d-flex justify-center">
					<div class="col-xs-12">
						<section class="section-title">
							<span>services</span>
							<h1>Explore Our Best Offer</h1>
						</section>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="service">
							<div class="img-icon">
								<img src="images/park.png" alt="">
							</div>
							<div class="text">
								<h3>gardening water system</h1>
								<p>A small river named duden flows by their place and supplies</p>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="service">
							<div class="img-icon">
								<img src="images/autumn-tree-leaves.png" alt="">
							</div>
							<div class="text">
								<h3>Preparing
									Landscape</h1>
								<p>A small river named duden flows by their place and supplies</p>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="service">
							<div class="img-icon">
								<img src="images/save.png" alt="">
							</div>
							<div class="text">
								<h3>gardening water system</h1>
								<p>A small river named duden flows by their place and supplies</p>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="service">
							<div class="img-icon">
								<img src="images/hills.png" alt="">
							</div>
							<div class="text">
								<h3>gardening water system</h1>
								<p>A small river named duden flows by their place and supplies</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="projects-area">
			<div class="container">
				<div class="row d-flex justify-center">
					<div class="col-xs-12">
						<section class="section-title">
							<span>RECENT WORK</span>
							<h1>Explore Projects</h1>
						</section>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 col-sm-6 col-xs-12">
						<div class="project bg-img-set" style="background-image: url('https://preview.colorlib.com/theme/hardenero/images/xwork-1.jpg.pagespeed.ic.YyRILaha43.webp');">
							<div class="text">
								<h3><a href="">Paradise Landscaping</a></h3>
								<span>Trimming</span>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 col-xs-12">
						<div class="project bg-img-set" style="background-image: url('https://preview.colorlib.com/theme/hardenero/images/xwork-2.jpg.pagespeed.ic.DwurrFcIoQ.webp');">
							<div class="text">
								<h3><a href="">Paradise Landscaping</a></h3>
								<span>Trimming</span>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 col-xs-12">
						<div class="project bg-img-set" style="background-image: url('https://preview.colorlib.com/theme/hardenero/images/xwork-3.jpg.pagespeed.ic.M93bqYSbqs.webp');">
							<div class="text">
								<h3><a href="">Paradise Landscaping</a></h3>
								<span>Trimming</span>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 col-xs-12">
						<div class="project bg-img-set" style="background-image: url('https://preview.colorlib.com/theme/hardenero/images/xwork-4.jpg.pagespeed.ic.-zLWU5HSKs.webp');">
							<div class="text">
								<h3><a href="">Paradise Landscaping</a></h3>
								<span>Trimming</span>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 col-xs-12">
						<div class="project bg-img-set" style="background-image: url('https://preview.colorlib.com/theme/hardenero/images/work-5.jpg.webp');">
							<div class="text">
								<h3><a href="">Paradise Landscaping</a></h3>
								<span>Trimming</span>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 col-xs-12">
						<div class="project bg-img-set" style="background-image: url('https://preview.colorlib.com/theme/hardenero/images/work-6.jpg.webp');">
							<div class="text">
								<h3><a href="">Paradise Landscaping</a></h3>
								<span>Trimming</span>
							</div>
						</div>
					</div>
				</div>
			</div>	
		</section>

		<section class="assesment-area">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-5 col-lg-5">
						<div class="row">
							<div class="col-xs-12">
								<h1 style="color: #fff;">Assesment</h1>
							</div>
						</div>
						<div class="service d-flex">
							<div class="icon">
								<img src="images/save.png" alt="">
							</div>
							<div class="text">
								<h2>we deal with loves</h2>
								<span>a small river named duden flows</span>
							</div>
						</div>
						<div class="service d-flex">
							<div class="icon">
								<img src="images/save.png" alt="">
							</div>
							<div class="text">
								<h2>we deal with loves</h2>
								<span>a small river named duden flows</span>
							</div>
						</div>
						<div class="service d-flex">
							<div class="icon">
								<img src="images/save.png" alt="">
							</div>
							<div class="text">
								<h2>we deal with loves</h2>
								<span>a small river named duden flows</span>
							</div>
						</div>
					</div>
					<div class="col-xs-10 col-sm-7 col-lg-7">
						<img src="https://images.pexels.com/photos/4393668/pexels-photo-4393668.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
					</div>
				</div>
			</div>
		</section>

		<section class="client-carousel">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<section class="section-title">
							<span>TESTIMONIAL</span>
							<h1>What Are Clients Says</h1>
						</section>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="carousel">
							<div class="owl-carousel">
								<div class="item">
									<div class="d-flex justify-space-evenly">
										<div class="user-img bg-img-set">
											<div class="overlay"></div>
										</div>
										<div class="text">
											<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias distinctio omnis beatae doloremque repellat.</p>
											<h1>Lenzing Weekly</h1>
											<span>Marketing Manager</span>
										</div>
									</div>
								</div>
								<div class="item">
									<div class="d-flex">
										<div class="user-img bg-img-set">
											<div class="overlay"></div>
										</div>
										<div class="text">
											<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias distinctio omnis beatae doloremque repellat.</p>
											<h1>Lenzing Weekly</h1>
											<span>Marketing Manager</span>
										</div>
									</div>
								</div>
								<div class="item">
									<div class="d-flex">
										<div class="user-img bg-img-set">
											<div class="overlay"></div>
										</div>
										<div class="text">
											<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias distinctio omnis beatae doloremque repellat.</p>
											<h1>Lenzing Weekly</h1>
											<span>Marketing Manager</span>
										</div>
									</div>
								</div>
								<div class="item">
									<div class="d-flex">
										<div class="user-img bg-img-set">
											<div class="overlay"></div>
										</div>
										<div class="text">
											<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias distinctio omnis beatae doloremque repellat.</p>
											<h1>Lenzing Weekly</h1>
											<span>Marketing Manager</span>
										</div>
									</div>
								</div>
							</div>	
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="form-area">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<div class="col-xs-12">
							<section class="section-title">
								<span>Ask Question</span>
							<h1>Request An Estimate</h1>
							</section>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<form action="#">
							<div class="row d-flex justify-center">
								<div class="col-md-3 col-xs-6">
									<div class="form-group">
										<input type="text" name="" id="" class="form-control" placeholder="Frist Name">
									</div>
								</div>
								<div class="col-md-3 col-xs-6">
									<div class="form-group">
										<input type="text" name="" id="" class="form-control" placeholder="Last Name">
									</div>
								</div>
								<div class="col-md-3 col-xs-6">
									<div class="form-group">
										<input type="number" name="" id="" class="form-control" placeholder="Phone">
									</div>
								</div>
								<div class="col-md-3 col-xs-6">
									<div class="form-group">
										<input type="email" name="" id="" class="form-control" placeholder="Email ID">
									</div>
								</div>
								<div class="col-md-12 col-xs-12">
									<div class="form-group">
										<textarea name="" id="" cols="30" rows="10" class="form-control" placeholder="Message"></textarea>
									</div>
								</div>
								<div class="col-md-5 col-xs-5">
									<div class="form-group">
										<input type="submit" value="Request Submit" class="btn form-control">
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</section>

		<section class="recent-area">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<section class="section-title">
							<span>OUR BLOG</span>
							<h1>Recent Post</h1>
						</section>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4 col-sm-6 col-xs-12">
						<img class="news-img" src="https://preview.colorlib.com/theme/hardenero/images/ximage_1.jpg.pagespeed.ic.0AeEG1DCHz.webp" alt="">
						<div class="text-post">
							<h4>Spring Pruning Tips</h4>
							<p>For for away behind the world mountains, for fram the countries vakalia and consanantia.</p>
							<button class="btn btn-success">Read more</button>
						</div>
					</div>
					<div class="col-lg-4 col-sm-6 col-xs-12">
						<img class="news-img" src="https://preview.colorlib.com/theme/hardenero/images/ximage_2.jpg.pagespeed.ic.624qM7sbW_.webp" alt="">
						<div class="text-post">
							<h4 class="news-text">Spring Pruning Tips</h4>
							<p class="news-date">For for away behind the world mountains, for fram the countries vakalia and consanantia.</p>
							<button class="btn btn-success">Read more</button>
						</div>
					</div>
					<div class="col-lg-4 col-sm-12 col-xs-12">
						<img class="news-img" src="https://preview.colorlib.com/theme/hardenero/images/ximage_3.jpg.pagespeed.ic.MftriIgKNE.webp" alt="">
						<div class="text-post">
							<h4 class="news-text">Spring Pruning Tips</h4>
							<p class="news-date">For for away behind the world mountains, for fram the countries vakalia and consanantia.</p>
							<button class="btn btn-success">Read more</button>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="plans-pricing">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<section class="section-title">
							<span>PRICING</span>
							<h1>Our Plans & Pricing</h1>
						</section>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-3">
						<div class="price-box">
							<h3>basic</h3>
							<h1>$29.00</h1>
							<ul>
								<li>Garden Service</li>
								<li>Farest Planning</li>
								<li>Garden Party</li>
								<li>Prepring Landscape</li>
								<li>Garden Fence</li>
							</ul>
							<button class="btn btn-success">Sign Up</button>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-3">
						<div class="price-box">
							<h3>basic</h3>
							<h1>$29.00</h1>
							<ul>
								<li>Garden Service</li>
								<li>Farest Planning</li>
								<li>Garden Party</li>
								<li>Prepring Landscape</li>
								<li>Garden Fence</li>
							</ul>
							<button class="btn btn-success">Sign Up</button>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-3">
						<div class="price-box">
							<h3>basic</h3>
							<h1>$29.00</h1>
							<ul>
								<li>Garden Service</li>
								<li>Farest Planning</li>
								<li>Garden Party</li>
								<li>Prepring Landscape</li>
								<li>Garden Fence</li>
							</ul>
							<button class="btn btn-success">Sign Up</button>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-3">
						<div class="price-box">
							<h3>basic</h3>
							<h1>$29.00</h1>
							<ul>
								<li>Garden Service</li>
								<li>Farest Planning</li>
								<li>Garden Party</li>
								<li>Prepring Landscape</li>
								<li>Garden Fence</li>
							</ul>
							<button class="btn btn-success">Sign Up</button>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="build-garden">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<h2>You do not know to build your garden?</h2>
						<p>
							<button class="btn btn-success">(+91) 123-456-7890</button>
							<button class="btn btn-warning">abcdemail@email.com</button>
						</p>
					</div>
				</div>
			</div>
		</section>
	  </main>

	  <footer class="footer-list-area">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-3">
					<h3 class="list-heading">Hardenero</h3>
					<p>Far far away, behind the word mountains, far from the countries. far from the countries.</p>
					<div class="social-icon">
						<a href=""><span class="fa fa-facebook"></span></a>
						<a href="#"><span class="fa fa-twitter"></span></a>
						<a href="#"><span class="fa fa-instagram"></span></a>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4">
					<h3 class="list-heading">Recent Posts</h3>
					<div class="d-flex">
						<a href="#" class="img-us bg-img-set img-rounded" style="background-image: url('https://images.pexels.com/photos/230292/pexels-photo-230292.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');"></a>
						<div class="text">
							<h4>How to Build Up The Dream Garden</h4>
							<a href="#"><i class="fa fa-calendar-minus-o" aria-hidden="true"></i> 16, Aug 2021</a>
							<a href="#"><i class="fa fa-comment" aria-hidden="true"></i> 34</a>
							<a href="#"><i class="fa fa-user" aria-hidden="true"></i> User</a>
						</div>
					</div>
					<div class="d-flex">
						<a href="#" class="img-us bg-img-set img-rounded" style="background-image: url('https://images.pexels.com/photos/1484657/pexels-photo-1484657.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');"></a>
						<div class="text">
							<h4>How to Build Up The Dream Garden</h4>
							<a href="#"><i class="fa fa-calendar-minus-o" aria-hidden="true"></i> 16, Aug 2021</a>
							<a href="#"><i class="fa fa-comment" aria-hidden="true"></i> 34</a>
							<a href="#"><i class="fa fa-user" aria-hidden="true"></i> User</a>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-2">
					<h3 class="list-heading">Explore</h3>
					<ul class="footer-list">
						<li><span class="fa fa-chevron-right mr-2"></span> about us</li>
						<li><span class="fa fa-chevron-right mr-2"></span> contact</li>
						<li><span class="fa fa-chevron-right mr-2"></span> projects</li>
						<li><span class="fa fa-chevron-right mr-2"></span> service</li>
						<li><span class="fa fa-chevron-right mr-2"></span> blog</li>
					</ul>
				</div>

				<div class="col-xs-12 col-sm-6 col-md-3">
				<h3 class="list-heading">Quick Links</h3>
					<ul class="footer-list">
					<li><span class="icon fa fa-map marker"></span><span class="text"> 104 Fake du. Dum Dum, Kolkat, West Bengal, IND</span></li>
					<li><span class="icon fa fa-phone"></span><span class="text"> +91 123 4567 890</span></li>
					<li><span class="icon fa fa-paper-plane pr-4"></span><span class="text"> abcd@email.com</span></li>
					</ul>
				</div>
			</div>
		</div>
		<section>
			<h5 class="copyright">Copyright ©2021 All rights reserved | This template is made with Debraj</h5>
		</section>
	  </footer>
	 


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer">
	</script>

	<script>
		$('.owl-carousel').owlCarousel({
			loop:true,
			margin:15,
			nav:false,
			autoplay:true,
			autoplayTimeout:1500,
			autoplayHoverPause:true,
			responsive:{
				0:{
					items:1
				},
				730:{
					items:2
				},
				1000:{
					items:3
				}
			}
		})
	</script>
</body>
</html>