* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Cairo', sans-serif;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.justify-space-around {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.justify-space-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.align-items-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.devided-3 {
  width: 33.33333%;
}

.devided-4 {
  width: 25%;
}

.border {
  border-left: 2px solid #999;
  border-right: 2px solid #999;
}

.container {
  width: 100%;
  padding: 0 7%;
}

img {
  width: 100%;
  height: 100%;
}

/*----------predefined-------------------*/
header {
  position: relative;
  padding-top: 15px;
}

header .logo h2 span {
  color: #20d8da;
  margin-right: 5px;
}

header .menu-toggle {
  display: none;
}

header .menu-toggle .fa {
  color: #fff;
  font-size: 18px;
}

header .menu-toggle span {
  color: #fff;
  font-size: 16px;
  margin-left: 3px;
}

.search-login-area form {
  width: 240px;
  position: relative;
  margin-right: 10px;
}

.search-login-area form input {
  width: 100%;
  height: 40px;
  background-color: #ebf5f5;
  border: none;
  color: #ababab;
  font-size: 12px;
  font-style: italic;
  padding: 0 20px;
}

.search-login-area form button {
  position: absolute;
  top: 0;
  right: 0;
  height: 40px;
  width: 50px;
  background-color: transparent;
  border: none;
  color: #555555;
  cursor: pointer;
}

.search-login-area .login-area {
  padding: 0 20px;
  height: 40px;
  background-color: #20d8da;
  text-align: center;
  color: #fff;
  line-height: 42px;
  margin-right: 5px;
}

.search-login-area .login-area a {
  text-align: center;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
}

.main-menu {
  padding: 25px 0;
  position: relative;
}

.main-menu nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-menu .classy-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify-space-between;
      -ms-flex-pack: justify-space-between;
          justify-content: justify-space-between;
}

.main-menu .classy-menu ul li {
  margin-right: 20px;
  list-style: none;
}

.main-menu .classy-menu ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 16px;
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
}

.main-menu .classy-menu ul li a:hover {
  color: #20d8da;
}

.main-menu .classy-menu ul .list-form {
  display: none;
}

.main-menu .social-info ul li {
  margin-left: 30px;
  list-style: none;
}

.main-menu .social-info ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 15px;
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
}

.main-menu .social-info ul li a:hover {
  color: #20d8da;
}

/* ------------header closed----- */
main .platform-opt {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .platform-opt img {
  width: 80%;
}

main .platform-opt a {
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  display: inline-block;
  min-width: 160px;
  height: 50px;
  margin-top: 25px;
  background-color: #20d8da;
  text-decoration: none;
  color: #fff;
  border-radius: 0;
  padding: 0 30px;
  font-size: 17px;
  line-height: 50px;
  font-weight: 500;
  text-transform: capitalize;
}

main .platform-opt a:hover {
  background-color: #000;
}

.recommended .recommend-aria {
  background-image: url("../img/b-lacy.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 80px 0 130px 0;
}

.recommended h1 {
  color: #fff;
  font-size: 32px;
  margin-bottom: 30px;
}

.recommended .choose-opt {
  border-bottom: 2px solid #555555;
}

.recommended .choose-opt ul {
  width: 400px;
}

.recommended .choose-opt ul li {
  list-style: none;
}

.recommended .choose-opt ul li a {
  display: inline-block;
  padding: 14px 30px;
  height: 56px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  border-radius: 0;
  border: none;
  text-decoration: none;
}

.recommended .choose-opt ul li a:hover {
  background-color: #20d8da;
}

/*------------------ MAIN ONE END-----------------*/
.game-box {
  padding: 60px 0;
}

.game-box .game-list {
  width: 420px;
  height: 90vh;
  background-color: #1d1d1d;
  padding: 5px 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  overflow: hidden;
}

.game-box .game-list:hover {
  overflow-y: scroll;
}

.game-box .game-list:hover::-webkit-scrollbar {
  width: 3px;
}

.game-box .game-list:hover::-webkit-scrollbar-thumb {
  background-color: #20d8da;
  border-radius: 5px;
}

.game-box .game-list .game {
  border-bottom: 1px  solid #FFF;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 10px;
}

.game-box .game-list .game:hover {
  background-color: #20d8da;
}

.game-box .game-list .game:hover .game-rating {
  background-color: #1d1d1d;
}

.game-box .game-list .game .thumbnail-img {
  width: 80px;
  height: 80px;
}

.game-box .game-list .game .game-text p {
  color: #fff;
}

.game-box .game-list .game .game-text span {
  color: #adadad;
  font-size: 13px;
}

.game-box .game-list .game .game-rating {
  width: 50px;
  margin-left: 15px;
  background-color: #20d8da;
  height: 30px;
  color: #fff;
  line-height: 30px;
  text-align: center;
  font-weight: 600;
  font-size: 12px;
}

.game-box .game-list .game .game-rating span {
  color: #ffd700;
}

.game-box .game-offer-zone {
  width: 65%;
  background-image: url("../img/tower.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.game-box .game-offer-zone .play-btn {
  width: 100%;
  height: 100%;
  position: relative;
}

.game-box .game-offer-zone .play-btn .paly-button {
  text-decoration: none;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  position: absolute;
  width: 74px;
  height: 74px;
  z-index: 100;
  top: 50%;
  left: 50%;
  margin-top: -37px;
  margin-left: -37px;
  background-color: rgba(255, 0, 0, 0.63);
  border-radius: 50%;
  text-align: center;
}

.game-box .game-offer-zone .play-btn .paly-button:hover {
  background-color: #20d8da;
}

.game-box .game-offer-zone .play-btn .paly-button .fa {
  color: #fff;
  font-size: 30px;
  margin-left: 2px;
}

/*---------------- MAIN TWO END -----------------*/
main .back-img-black {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url("../img/back-img-fixed.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/back-img-fixed.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 50px 0;
}

main .back-img-black .gamin-choose-list {
  width: 60%;
}

main .back-img-black .gamin-choose-list h1 {
  color: #fff;
  margin-bottom: 50px;
}

main .back-img-black .gamin-choose-list .article-thumbnail {
  width: 38%;
  height: 180px;
  overflow: hidden;
  background-color: #20d8da;
}

main .back-img-black .gamin-choose-list .article-thumbnail img {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

main .back-img-black .gamin-choose-list .article-thumbnail img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

main .back-img-black .gamin-choose-list .article-content {
  width: 61%;
  padding: 0 30px 0 5px;
}

main .back-img-black .gamin-choose-list .article-content a {
  text-decoration: none;
  font-size: 24px;
  color: #fff;
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

main .back-img-black .gamin-choose-list .article-content .post-meta a {
  font-size: 14px;
  color: #929292;
  font-weight: 700;
  text-transform: uppercase;
}

main .back-img-black .gamin-choose-list .article-content p {
  color: #c2c2c2;
  line-height: 1.5;
}

main .back-img-black .game-offer h1 {
  color: #fff;
  margin-bottom: 50px;
}

main .back-img-black .game-offer .offer-poster {
  width: 85%;
}

/*---------------- MAIN THREE END -----------------*/
footer {
  overflow: hidden;
  background-color: #131313;
  border-top: 2px solid #fff;
}

footer .main-footer {
  padding: 60px 0;
}

footer .main-footer h4 {
  color: #fff;
  font-size: 22px;
  letter-spacing: 2px;
  margin-bottom: 30px;
}

footer .main-footer h4 span {
  color: #20d8da;
}

footer .main-footer p {
  color: #808080;
  font-size: 14px;
  line-height: 2.1;
  font-weight: bold;
  padding-right: 25px;
}

footer .main-footer nav ul li {
  list-style: none;
  margin-bottom: 10px;
}

footer .main-footer nav ul li a {
  text-decoration: none;
  color: #808080;
  font-weight: bold;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

footer .main-footer nav ul li a:hover {
  color: #20d8da;
  margin-left: 7px;
  text-decoration: underline;
}

footer .copyright-content {
  background-color: #000;
  padding: 15px 0;
}

footer .copyright-content .copywrite-box p a {
  font-weight: bold;
  text-decoration: none;
  color: #808080;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

footer .copyright-content .copywrite-box p a:hover {
  color: #20d8da;
}

footer .copyright-content .footer-nav ul li {
  list-style: none;
}

footer .copyright-content .footer-nav ul li a {
  text-decoration: none;
  color: #808080;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-right: 35px;
  font-weight: bold;
}

footer .copyright-content .footer-nav ul li a:hover {
  color: #20d8da;
}

/* ======================= END ===================== */
/*================= MEDIA ( 1025 )===================*/
@media (max-width: 1025px) {
  .container {
    width: 100%;
    padding: 0 1%;
  }
  /*___________________*/
  main .platform-opt {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .platform-opt img {
    width: 90%;
  }
  main .platform-opt a {
    height: 45px;
    font-size: 16px;
    line-height: 41px;
  }
}

/*------------------------------------------*/
.recommended .recommend-aria {
  padding: 70px 20px 90px 20px;
}

.recommended h1 {
  font-size: 30px;
}

.recommended .choose-opt {
  border-bottom: 2px solid #555555;
}

.recommended .choose-opt ul {
  width: 400px;
}

.recommended .choose-opt ul li {
  list-style: none;
}

.recommended .choose-opt ul li a {
  display: inline-block;
  padding: 10px 20px;
  height: 54px;
  font-size: 16px;
  line-height: 40px;
}

.recommended .choose-opt ul li a:hover {
  background-color: #20d8da;
}

/*==============================================*/
main .back-img-black {
  padding: 50px 0;
}

main .back-img-black .gamin-choose-list {
  width: 60%;
}

main .back-img-black .gamin-choose-list h1 {
  margin-bottom: 50px;
}

main .back-img-black .gamin-choose-list .article-thumbnail {
  width: 38%;
  height: 180px;
}

main .back-img-black .gamin-choose-list .article-thumbnail img {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

main .back-img-black .gamin-choose-list .article-thumbnail img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

main .back-img-black .gamin-choose-list .article-content {
  width: 61%;
  padding: 0 30px 0 5px;
}

main .back-img-black .gamin-choose-list .article-content a {
  font-size: 20px;
}

main .back-img-black .gamin-choose-list .article-content .post-meta a {
  font-size: 14px;
}

main .back-img-black .gamin-choose-list .article-content p {
  font-size: small;
}

main .back-img-black .game-offer h1 {
  color: #fff;
  margin-bottom: 50px;
}

main .back-img-black .game-offer .offer-poster {
  width: 85%;
}

/*==============================================*/
footer {
  overflow: hidden;
  background-color: #131313;
  border-top: 2px solid #fff;
}

footer .main-footer {
  padding: 60px 20px;
}

footer .main-footer p {
  font-weight: normal;
}

footer .main-footer nav ul li {
  margin-bottom: 10px;
}

footer .main-footer nav ul li a {
  font-weight: normal;
  font-size: small;
}

footer .copyright-content {
  background-color: #000;
  padding: 15px 20px;
}

footer .copyright-content .copywrite-box p a {
  font-weight: normal;
  font-size: small;
}

footer .copyright-content .footer-nav ul li {
  list-style: none;
}

footer .copyright-content .footer-nav ul li a {
  font-weight: normal;
  font-size: small;
}

/*================= NEXT MEDIA ( 770 )===================*/
@media (max-width: 770px) {
  .container {
    padding: 0 2%;
  }
  .display-none {
    display: none;
  }
  .devided-2 {
    width: 50%;
  }
  .flex-end {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main .platform-opt {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .platform-opt img {
    width: 93%;
  }
  /*=====================================*/
  .recommended .recommend-aria {
    padding: 50px 20px 70px 20px;
  }
  .recommended h1 {
    font-size: 25px;
  }
  .recommended .choose-opt {
    border-bottom: 2px solid #555555;
  }
  .recommended .choose-opt ul {
    width: 50%;
  }
  .recommended .choose-opt ul li {
    list-style: none;
  }
  .recommended .choose-opt ul li a {
    height: 45px;
    line-height: 30px;
  }
  /*==========================================*/
  .game-box {
    padding: 60px 0;
  }
  .game-box .game-list {
    width: 420px;
    height: 90vh;
    background-color: #1d1d1d;
    padding: 5px 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    overflow: hidden;
  }
  .game-box .game-list:hover {
    overflow-y: scroll;
  }
  .game-box .game-list:hover::-webkit-scrollbar {
    width: 3px;
  }
  .game-box .game-list:hover::-webkit-scrollbar-thumb {
    background-color: #20d8da;
    border-radius: 5px;
  }
  .game-box .game-list .game {
    border-bottom: 1px  solid #FFF;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    padding: 10px;
  }
  .game-box .game-list .game:hover {
    background-color: #20d8da;
  }
  .game-box .game-list .game:hover .game-rating {
    background-color: #1d1d1d;
  }
  .game-box .game-list .game .thumbnail-img {
    width: 80px;
    height: 80px;
    border: 1px solid #999;
  }
  .game-box .game-list .game .game-text p {
    color: #fff;
  }
  .game-box .game-list .game .game-text span {
    color: #adadad;
    font-size: 13px;
  }
  .game-box .game-list .game .game-rating {
    width: 50px;
    margin-left: 15px;
    background-color: #20d8da;
    height: 30px;
    color: #fff;
    line-height: 30px;
    text-align: center;
    font-weight: 600;
    font-size: 12px;
  }
  .game-box .game-list .game .game-rating span {
    color: #ffd700;
  }
  .game-box .game-offer-zone {
    width: 65%;
    background-image: url("../img/Mass-Effect-Legendary-Mobile.jpg");
  }
  /*==========================================*/
  main .back-img-black {
    padding: 50px 0;
  }
  main .back-img-black .gamin-choose-list {
    width: 90%;
  }
  main .back-img-black .gamin-choose-list h1 {
    color: #fff;
    margin-bottom: 50px;
  }
  main .back-img-black .gamin-choose-list .article-thumbnail {
    width: 55%;
    height: 220px;
    margin-right: 30px;
  }
  main .back-img-black .gamin-choose-list .article-thumbnail img {
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  main .back-img-black .gamin-choose-list .article-thumbnail img:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  main .back-img-black .gamin-choose-list .article-content {
    width: 61%;
    padding: 0 30px 0 5px;
  }
  main .back-img-black .gamin-choose-list .article-content .post-meta a {
    font-size: 14px;
    color: #929292;
    font-weight: 700;
    text-transform: uppercase;
  }
  main .back-img-black .gamin-choose-list .article-content p {
    font-size: large;
    line-height: 1.5;
  }
}

/*================= MEDIA ( 690 )===================*/
@media (max-width: 690px) {
  header .menu-toggle {
    display: block;
    position: fixed;
    right: 4%;
    top: 65px;
    opacity: 0.80;
    background-color: #20d8da;
    padding: 2px 10px;
    border: none;
    z-index: 20;
  }
  header .menu-toggle:hover {
    opacity: 1;
  }
  header .menu-toggle .fa {
    color: #fff;
    font-size: 18px;
  }
  header .menu-toggle span {
    color: #fff;
    font-size: 16px;
    margin-left: 3px;
  }
  /*--------------------------*/
  .main-menu {
    display: none;
    /* tooggle */
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    background-color: #000;
    padding: 25px 15px 0 15px;
  }
  .main-menu nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: justify;
        align-content: space-between;
  }
  .main-menu .classy-menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify-space-between;
        -ms-flex-pack: justify-space-between;
            justify-content: justify-space-between;
  }
  .main-menu .classy-menu ul li {
    margin-right: 0;
    margin-top: 10px;
    border-bottom: 1px solid #fff;
  }
  .main-menu .classy-menu ul li a {
    color: #999;
  }
  .main-menu .social-info {
    margin-top: 50px;
  }
  .main-menu .social-info ul {
    padding: 0;
    width: 40%;
  }
  .main-menu .social-info ul li {
    margin: 0px;
    list-style: none;
  }
  .main-menu .social-info ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 15px;
    -webkit-transition: 0.1s linear;
    transition: 0.1s linear;
  }
  .main-menu .social-info ul li a:hover {
    color: #20d8da;
  }
  .recommended .recommend-aria {
    background-image: url("../img/b-lacy.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 70px 0 130px 0;
  }
  .recommended .choose-opt {
    border-bottom: 2px solid #555555;
  }
  .recommended .choose-opt ul {
    width: 400px;
  }
  .recommended .choose-opt ul li a {
    display: inline-block;
    padding: 10px 30px;
    height: 50px;
  }
  .game-box {
    padding: 60px 0;
  }
  .game-box .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .game-box .game-list {
    width: 640px;
    height: 90vh;
  }
  .game-box .game-list:hover {
    overflow-y: scroll;
  }
  .game-box .game-list:hover::-webkit-scrollbar {
    width: 3px;
  }
  .game-box .game-list:hover::-webkit-scrollbar-thumb {
    background-color: #20d8da;
    border-radius: 5px;
  }
  .game-box .game-list .game {
    border-bottom: 1px  solid #FFF;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    padding: 10px;
  }
  .game-box .game-list .game .thumbnail-img {
    width: 85px;
    height: 85px;
  }
  .game-box .game-list .game .game-text span {
    color: #adadad;
    font-size: 15px;
  }
  .game-box .game-offer-zone {
    display: none;
  }
  /* footer */
  footer .copyright-content .footer-nav ul li a {
    margin-right: 20px;
  }
}

/*================= MEDIA ( 430 )===================*/
@media (max-width: 430px) {
  .devided-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .flex-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .border {
    border-left: none;
    border-right: none;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
  }
  header .menu-toggle {
    display: block;
    position: absolute;
    right: 4%;
    top: 22px;
    opacity: 1;
  }
  /*------------------*/
  .search-login-area .login-area {
    padding: 0 29px;
    height: 40px;
    line-height: 42px;
    margin-right: 5px;
  }
  /*====================================*/
  main .platform-opt {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px 0;
  }
  main .platform-opt img {
    width: 90%;
  }
  main .platform-opt a {
    text-align: center;
    height: 40px;
    font-size: 16px;
    line-height: 41px;
  }
  /*==================================*/
  .recommended .recommend-aria {
    background-image: url("../img/b-lacy.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 55px 0 90px 0;
  }
  .recommended .choose-opt {
    border-bottom: 2px solid #555555;
  }
  .recommended .choose-opt ul {
    width: 400px;
  }
  .recommended .choose-opt ul li a {
    display: inline-block;
    padding: 10px 34px;
    height: 50px;
  }
  /*==================================*/
  main .back-img-black {
    padding: 50px 0;
  }
  main .back-img-black .gamin-choose-list {
    width: 100%;
  }
  main .back-img-black .gamin-choose-list h1 {
    color: #fff;
    margin-bottom: 50px;
  }
  main .back-img-black .gamin-choose-list .article-thumbnail {
    width: 80%;
    height: 200px;
  }
  main .back-img-black .gamin-choose-list .article-content {
    width: 100%;
    padding: 0 30px 0 5px;
    margin-bottom: 25px;
  }
  main .back-img-black .gamin-choose-list .article-content p {
    color: #c2c2c2;
    line-height: 1.5;
  }
  /*---------FOOTER--------*/
  footer {
    overflow: hidden;
    background-color: #131313;
    border-top: 2px solid #fff;
  }
  footer .d-flex {
    padding-left: 20px;
  }
  footer .main-footer {
    padding: 60px 0;
  }
  footer .main-footer p {
    width: 300px;
  }
}

/*================= MEDIA ( 380 )===================*/
@media (max-width: 400px) {
  .search-login-area {
    display: none;
  }
  .main-menu .classy-menu ul .list-form {
    display: block;
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .main-menu .classy-menu ul .list-form form {
    width: 200px;
    position: relative;
    margin-right: 5px;
  }
  .main-menu .classy-menu ul .list-form form input {
    width: 100%;
    height: 35px;
    background-color: #ebf5f5;
    border: none;
    color: #ababab;
    font-size: 12px;
    font-style: italic;
    padding: 0 20px;
  }
  .main-menu .classy-menu ul .list-form form button {
    position: absolute;
    top: 0;
    right: 0;
    height: 35px;
    width: 50px;
    background-color: transparent;
    border: none;
    color: #555555;
    cursor: pointer;
  }
  .main-menu .classy-menu ul .list-form .login-area {
    padding: 0 5px;
    height: 35px;
    background-color: #20d8da;
    color: #fff;
    line-height: 34px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .main-menu .classy-menu ul .list-form .login-area a {
    text-align: center;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
  }
  /*=====================================*/
  .recommended .recommend-aria {
    background-image: url("../img/b-lacy.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 55px 0 90px 0;
  }
  .recommended .choose-opt {
    border-bottom: 1px solid #a5a4a4;
  }
  .recommended .choose-opt ul {
    width: 280px;
  }
  .recommended .choose-opt ul li a {
    padding: 4px 14px;
    height: 35px;
  }
  /*======================================*/
  .game-box {
    padding: 160px 0;
  }
  .game-box .game-list {
    width: 100%;
    height: 70vh;
    background-color: #d7f4ff;
  }
  .game-box .game-list .game {
    border-bottom: 1px  solid #FFF;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    padding: 10px;
  }
  .game-box .game-list .game .thumbnail-img {
    width: 150px;
    height: 120px;
  }
  .game-box .game-list .game .game-text p {
    color: #5a5a5a;
    font-size: large;
  }
  .game-box .game-list .game .game-text span {
    color: #747474;
    font-size: 15px;
  }
}
/*# sourceMappingURL=style.css.map */