<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Weiliz-Dream Home</title>
	<link rel="stylesheet" href="css/style.css">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css" integrity="sha512-OTcub78R3msOCtY3Tc6FzeDJ8N9qvQn1Ph49ou13xgA9VsH9+LRxoFU6EqLhW4+PKRfU+/HReXmSZXHEkpYoOA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
</head>
<body>

	<header>
		<div class="container d-flex justify-space-between">
			<div class="header-logo">
				<h2>Weiliz Home</h2>
			</div>
			<nav>
				<div class="nav-close">
					<div class="d-flex justify-space-between">
						<h3>NAVIGATION</h3>
						<i class="fa fa-times" aria-hidden="true"></i>
					</div>
				</div>
				<ul class="d-flex justify-space-between">
					<li><a href="#">home</a></li>
					<li><a href="#">property</a></li>
					<li><a href="#">about</a></li>
					<li><a href="#">contact</a></li>
					<li><a href="#">(+91) 1234567890</a></li>
				</ul>
			</nav>
			<button class="toogle-btn">
				<i class="fa fa-bars" aria-hidden="true"></i> MENU
			</button>
		</div>
	</header>
	<main class="img-set">
		<div class="container">
			<div class="d-flex">
				<div class="hero-box">
					<div class="hero-caption">
						<h1>find your dream home</h1>
						<p>we have over million properties for you</p>
						<div class="properti-button">
							<a href="#">buy property</a>
							<a href="#">rent property</a>
						</div>
					</div>
					<div class="d-flex justify-flex-end">
						<div class="search-properti">
							<form action="#" d-flex>
								<input type="text" class="input-box" id="" placeholder="Location">
								<select class="input-box" name="" id="">
									<option value="Property type" selected>Property type</option>
									<option value="caragories one">caragories one</option>
									<option value="caragories two">caragories two</option>
									<option value="caragories three">caragories three</option>
								</select>
								<select class="input-box" name="" id="">
									<option value="Bedroom" selected>Bedroom</option>
									<option value="caragories one">caragories one</option>
									<option value="caragories two">caragories two</option>
									<option value="caragories three">caragories three</option>
								</select>
								<input type="submit" value="SEARCH">
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>

	<section class="best-places">
		<div class="container">
			<div class="d-flex">
				<div class="section-title">
					<h2>Searching for the Best Places?</h2>
				</div>
			</div>
			<div class="d-flex">
				<div class="divide-lg-3 divide-ls-2 divide-md-1">
					<div class="bg-img">
						<img src="https://images.pexels.com/photos/259751/pexels-photo-259751.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
					</div>
					<div class="caption-text">
						<h5>Place Perfect For Nature Lovers</h5>
						<p><i class="fa fa-map-marker" aria-hidden="true"></i> Kolkata, India</p>
						<div class="d-flex justify-space-between">
							<span>3BHK & Narea</span>
							<span>₹48k</span>
						</div>
					</div>
				</div>
				<div class="divide-lg-3 divide-ls-2 divide-md-1">
					<div class="bg-img">
						<img src="https://images.pexels.com/photos/209296/pexels-photo-209296.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
					</div>
					<div class="caption-text">
						<h5>Place Perfect For Nature Lovers</h5>
						<p><i class="fa fa-map-marker" aria-hidden="true"></i> Kolkata, India</p>
						<div class="d-flex justify-space-between">
							<span>3BHK & Narea</span>
							<span>₹48k</span>
						</div>
					</div>
				</div>
				<div class="divide-lg-3 divide-ls-2 divide-md-1">
					<div class="bg-img">
						<img src="https://images.pexels.com/photos/3958958/pexels-photo-3958958.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
					</div>
					<div class="caption-text">
						<h5>Place Perfect For Nature Lovers</h5>
						<p><i class="fa fa-map-marker" aria-hidden="true"></i> Kolkata, India</p>
						<div class="d-flex justify-space-between">
							<span>3BHK & Narea</span>
							<span>₹48k</span>
						</div>
					</div>
				</div>
				<div class="divide-lg-3 divide-ls-2 divide-md-1">
					<div class="bg-img">
						<img src="https://images.pexels.com/photos/323780/pexels-photo-323780.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" alt="">
					</div>
					<div class="caption-text">
						<h5>Place Perfect For Nature Lovers</h5>
						<p><i class="fa fa-map-marker" aria-hidden="true"></i> Kolkata, India</p>
						<div class="d-flex justify-space-between">
							<span>3BHK & Narea</span>
							<span>₹48k</span>
						</div>
					</div>
				</div>
				<div class="divide-lg-3 divide-ls-2 divide-md-1">
					<div class="bg-img">
						<img src="https://images.pexels.com/photos/106399/pexels-photo-106399.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" alt="">
					</div>
					<div class="caption-text">
						<h5>Place Perfect For Nature Lovers</h5>
						<p><i class="fa fa-map-marker" aria-hidden="true"></i> Kolkata, India</p>
						<div class="d-flex justify-space-between">
							<span>3BHK & Narea</span>
							<span>₹48k</span>
						</div>
					</div>
				</div>
				<div class="divide-lg-3 divide-ls-2 divide-md-1">
					<div class="bg-img">
						<img src="https://images.pexels.com/photos/534228/pexels-photo-534228.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" alt="">
					</div>
					<div class="caption-text">
						<h5>Place Perfect For Nature Lovers</h5>
						<p><i class="fa fa-map-marker" aria-hidden="true"></i> Kolkata, India</p>
						<div class="d-flex justify-space-between">
							<span>3BHK & Narea</span>
							<span>₹48k</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="completed">
		<div class="container-full">
			<div class="d-flex">
				<div class="divide-lg-2 divide-sm-1">
					<div class="cases-text">
						<h3>Just browse away.It’s all here.</h3>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate soluta temporibus maxime nobis doloribus a eum asperiores, fugiat labore delectus, sapiente quam neque deleniti ipsum ipsa modi, reprehenderit at aperiam?</p>
						<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem rem doloribus nemo illum odio necessitatibus, beatae, voluptate eveniet, aliquam doloremque adipisci totam sed dolor. Nostrum laboriosam repellat excepturi obcaecati ex.</p>
						<a href="#">View Property</a>
					</div>
				</div>
				<div class="divide-lg-2 divide-sm-1">
					<div class="comted-carousel-box">
						<div class="owl-carousel completed-carousel">
							<div class="item">
								<div class="bg-img">
									<img src="https://images.pexels.com/photos/1125136/pexels-photo-1125136.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" alt="">
								</div>
							</div>
							<div class="item">
								<div class="bg-img">
									<img src="https://images.pexels.com/photos/6492401/pexels-photo-6492401.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" alt="">
								</div>
							</div>
							<div class="item">
								<div class="bg-img">
									<img src="https://images.pexels.com/photos/6636303/pexels-photo-6636303.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" alt="">
								</div>
							</div>
							<div class="item">
								<div class="bg-img">
									<img src="https://images.pexels.com/photos/4352247/pexels-photo-4352247.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" alt="">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="client">
		<div class="container">
			<div class="d-flex">
				<div class="divide-lg-4  divide-ls-2  divide-md-1">
					<div class="cap-area">
						<div class="bg-img d-flex justify-space-between">
							<img src="https://images.pexels.com/photos/7075/people-office-group-team.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
						</div>
						<div class="text-area">
							<h4>Choose A Category</h4>
							<p>Rhoncus est pellen tesque elit ullam corper dignissim.</p>
						</div>
					</div>
				</div>
				<div class="divide-lg-4  divide-ls-2  divide-md-1">
					<div class="cap-area">
						<div class="bg-img d-flex justify-space-between">
							<img src="https://images.pexels.com/photos/5439439/pexels-photo-5439439.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
						</div>
						<div class="text-area">
							<h4>Take The Keys</h4>
							<p>Rhoncus est pellen tesque elit ullam corper dignissim.</p>
						</div>
					</div>
				</div>
				<div class="divide-lg-4 divide-ls-2  divide-md-1">
					<div class="cap-area">
						<div class="bg-img d-flex justify-space-between">
							<img src="https://images.pexels.com/photos/5439453/pexels-photo-5439453.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
						</div>
						<div class="text-area">
							<h4>Find Real Estate</h4>
							<p>Rhoncus est pellen tesque elit ullam corper dignissim.</p>
						</div>
					</div>
				</div>
				<div class="divide-lg-4 divide-ls-2  divide-md-1">
					<div class="cap-area">
						<div class="bg-img d-flex justify-space-between">
							<img src="https://images.pexels.com/photos/5439453/pexels-photo-5439453.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
						</div>
						<div class="text-area">
							<h4>Live Happy</h4>
							<p>Rhoncus est pellen tesque elit ullam corper dignissim.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="agents">
		<div class="container">
			<div class="d-lex">
				<div class="section-title">
					<h2 style="text-align: center;">Meet Our Agents</h2>
				</div>
			</div>
			<div class="agents-carousel">
				<div class="owl-carousel owl-theme agents-cont">
					<div class="item">
						<img src="https://images.pexels.com/photos/937481/pexels-photo-937481.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
						<div class="text-area">
							<h3>Debraj Sikdar</h3>
							<p>Agent</p>
						</div>
					</div>
					<div class="item">
						<img src="https://images.pexels.com/photos/50855/pexels-photo-50855.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
						<div class="text-area">
							<h3>Debraj Sikdar</h3>
							<p>Agent</p>
						</div>
					</div>
					<div class="item">
						<img src="https://images.pexels.com/photos/32976/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
						<div class="text-area">
							<h3>Debraj Sikdar</h3>
							<p>Agent</p>
						</div>
					</div>
					<div class="item">
						<img src="https://images.pexels.com/photos/2182970/pexels-photo-2182970.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
						<div class="text-area">
							<h3>Debraj Sikdar</h3>
							<p>Agent</p>
						</div>
					</div>
				</div>
			</div>	
		</div>
	</section>

	<section class="last-carousel">
		<div class="container-full">
			<div class="location-carousel-box">
				<div class="owl-carousel location-carousel">
					<div class="item">
						<div class="location">
							<img src="https://images.pexels.com/photos/2846217/pexels-photo-2846217.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
							<div class="text-area">
								<a href="#">Kolkata ( 50 )</a>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="location">
							<img src="https://images.pexels.com/photos/1578332/pexels-photo-1578332.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
							<div class="text-area">
								<a href="#">London ( 50 )</a>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="location">
							<img src="https://images.pexels.com/photos/1717859/pexels-photo-1717859.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
							<div class="text-area">
								<a href="#">Taiwan ( 50 )</a>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="location">
							<img src="https://images.pexels.com/photos/358589/pexels-photo-358589.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
							<div class="text-area">
								<a href="#">Norway ( 50 )</a>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="location">
							<img src="https://images.pexels.com/photos/7078872/pexels-photo-7078872.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
							<div class="text-area">
								<a href="#">America ( 50 )</a>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="location">
							<img src="https://images.pexels.com/photos/92412/pexels-photo-92412.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
							<div class="text-area">
								<a href="#">Russia ( 50 )</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<footer>
		<div class="footer-area">
			<div class="container">
				<div class="d-flex">
					<div class="divide-lg-3 divide-sm-2 divide-md-1">
						<h4>Weiliz Home</h4>
						<p>Productboard is the product management system that helps</p>
						<div class="social d-flex">
							<i class="fa fa-facebook" aria-hidden="true"></i>
							<i class="fa fa-reddit-alien" aria-hidden="true"></i>
							<i class="fa fa-weibo" aria-hidden="true"></i>
						</div>
					</div>
					<div class="divide-lg-3 divide-sm-2  divide-md-1">
						<div class="d-flex">
							<div class="divide-lg-2">
								<h4>About</h4>
								<ul><li><a href="#">Why choose us</a></li></ul>
								<ul><li><a href="#">Review</a></li></ul>
								<ul><li><a href="#">Blog</a></li></ul>
								<ul><li><a href="#">Carrier</a></li></ul>
							</div>
							<div class="divide-lg-2 divide-md-1">
								<h4>Services</h4>
								<ul><li><a href="#">Why choose us</a></li></ul>
								<ul><li><a href="#">Review</a></li></ul>
								<ul><li><a href="#">Blog</a></li></ul>
								<ul><li><a href="#">Carrier</a></li></ul>
							</div>
						</div>
					</div>
					<div class="divide-lg-3 divide-sm-1  divide-md-1">
						<h4>Newsletter</h4>
						<p>Subscribe our newsletter to get updates about our services</p>
						<form action="#">
							<input type="email" name="" id="" placeholder="Enter Email ID">
							<button type="submit">Subscribe</button>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-bottom">
			<p>Copyright ©2021 All rights reserved his template is made Debraj</p>
		</div>
	</footer>

	  

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

	
	<script>
		$('.completed-carousel').owlCarousel({
			stagePadding: 60,
			loop:true,
			margin:0,
			nav:false,
			responsive:{
				0:{
					items:1
				},
				1400:{
					items:3
				},
			}
		});
		$('.agents-cont').owlCarousel({
			loop:true,
			margin:10,
			nav:false,
			autoplay:true,
			autoplayTimeout:2000,
			autoplayHoverPause:true,
			responsive:{
				0:{
					items:1
				},
				600:{
					items:3
				},
				1000:{
					items:4
				}
			}
		});
		$('.location-carousel').owlCarousel({
			loop:true,
			margin:0,
			nav:false,
			autoplay:true,
			autoplayTimeout:800,
			autoplayHoverPause:true,
			responsive:{
				0:{
					items:1
				},
				300:{
					items:2
				},
				600:{
					items:4
				},
				1000:{
					items:5
				}
			}
		});
		$('.toogle-btn').click(function(){
			$('header nav').fadeIn(1000);
		});
		$('.nav-close').click(function(){
			$('header nav').fadeOut(600);
		});
	</script>
		
</body>
</html>