<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LIVE CAST</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css" integrity="sha512-OTcub78R3msOCtY3Tc6FzeDJ8N9qvQn1Ph49ou13xgA9VsH9+LRxoFU6EqLhW4+PKRfU+/HReXmSZXHEkpYoOA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="CSS/style.css">
</head>
<body>
        <header>
          <div class="container">
            <div class="d-flex justify-space-between">
              <div class="logo">
                <h2><span>Live</span> CAST</h2>
              </div>
              <div class="header-nav">
                <nav>
                  <span class="fa fa-times" aria-hidden="true"></span>
                  <ul class="d-flex">
                    <li><a class="active" href="#">Homepage</a></li>
                    <li><a href="#">Live Watching</a></li>
                    <li><a href="#">Trending</a></li>
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Contact</a></li>
                  </ul>
                </nav>
              </div>
              <div class="search-profile">
                <form action="">
                  <input type="search" name="" id="" placeholder="Search your faviret content">
                  <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                </form>
              </div>
              <div class="toggle-btn">
                <button type="submit"><i class="fa fa-bars" aria-hidden="true"></i> MENU</button>
              </div>
            </div>
          </div>
        </header>

        <section class="hero">
          <div class="container">
            <div class="hero-carousel">
              <div class="hero-owl-carousel owl-carousel owl-theme">
                <div class="item img-set" style="background-image: url('img/caro-bg-i.jpg');">
                  <div class="d-flex">
                    <div class="width">
                      <div class="hero-text">
                        <h2>Scarlet nexus bandai namco entertaiment global</h2>
                        <p>1 month after </p>
                        <a href=""><span>WATCH</span> <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item img-set" style="background-image: url('img/caro-bg-w.jpg');">
                  <div class="d-flex">
                    <div class="width">
                      <div class="hero-text">
                        <h2>Scarlet nexus bandai namco entertaiment global</h2>
                        <p>1 month after</p>
                        <a href=""><span>WATCH</span> <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item img-set" style="background-image: url('img/caro-bg.jpg');">
                  <div class="d-flex">
                    <div class="width">
                      <div class="hero-text">
                        <h2>Scarlet nexus bandai namco entertaiment global</h2>
                        <p>1 month after</p>
                        <a href=""><span>WATCH</span> <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item img-set" style="background-image: url('img/caro-bg-w.jpg');">
                  <div class="d-flex">
                    <div class="width">
                      <div class="hero-text">
                        <h2>Scarlet nexus bandai namco entertaiment global</h2>
                        <p>1 month after</p>
                        <a href=""><span>WATCH</span> <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            </div>
          </div>
        </section>

        <section class="top-live">
          <div class="container">
            <div class="top-live-carousel">
              <div class="top-live-game owl-carousel owl-theme">
                <div class="item">
                  <div class="top-live-thumbnail-img">
                    <img src="img/Valorant.jpg" alt="">
                    <aside class="d-flex justify-space-between">
                      <span style="background-color: #0000008e; border-radius: 3px; color: #fff; padding: 1px 5px">2k views</span>
                      <span style="background-color: red; color: #fff; border-radius: 4px; padding: 1px 7px;">. LIVE</span>
                    </aside>
                  </div>
                  <div class="top-live-text">
                    <div class="d-flex">
                      <div class="top-channel-img img-set" style="background-image: url('img/logo-1.png');"></div>
                      <article>
                        <span class="game-name">VALORANT</span>
                        <span class="channel-name">ExionHD</span>
                      </article>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="top-live-thumbnail-img">
                    <img src="img/apex.png" alt="">
                    <aside class="d-flex justify-space-between">
                      <span style="background-color: #0000008e; border-radius: 3px; color: #fff; padding: 1px 5px">2k views</span>
                      <span style="background-color: red; color: #fff; border-radius: 4px; padding: 1px 7px;">. LIVE</span>
                    </aside>
                  </div>
                  <div class="top-live-text">
                    <div class="d-flex">
                      <div class="top-channel-img img-set" style="background-image: url('img/logo-2.jpg');"></div>
                      <article>
                        <span class="game-name">Apex Legend</span>
                        <span class="channel-name">ExionHD</span>
                      </article>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="top-live-thumbnail-img">
                    <img src="img/apex.png" alt="">
                    <aside class="d-flex justify-space-between">
                      <span style="background-color: #0000008e; border-radius: 3px; color: #fff; padding: 1px 5px">2k views</span>
                      <span style="background-color: red; color: #fff; border-radius: 4px; padding: 1px 7px;">. LIVE</span>
                    </aside>
                  </div>
                  <div class="top-live-text">
                    <div class="d-flex">
                      <div class="top-channel-img img-set" style="background-image: url('img/logo-3.png');"></div>
                      <article>
                        <span class="game-name">apex legend</span>
                        <span class="channel-name">ExionHD</span>
                      </article>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="top-live-thumbnail-img">
                    <img src="img/Valorant.jpg" alt="">
                    <aside class="d-flex justify-space-between">
                      <span style="background-color: #0000008e; border-radius: 3px; color: #fff; padding: 1px 5px">2k views</span>
                      <span style="background-color: red; color: #fff; border-radius: 4px; padding: 1px 7px;">. LIVE</span>
                    </aside>
                  </div>
                  <div class="top-live-text">
                    <div class="d-flex">
                      <div class="top-channel-img img-set" style="background-image: url('img/logo-2.jpg');"></div>
                      <article>
                        <span class="game-name">VALORANT</span>
                        <span class="channel-name">ExionHD</span>
                      </article>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="game-box">
          <div class="container">
            <div class="d-flex justify-space-between">
              <div class="divide-lg-7 divide-lm-10">

                <!-- TRENDING -->
                <div class="poduct">
                  <div class="d-flex justify-space-between">
                    <div class="section-title">
                      <h3>trending now</h3>
                    </div>
                    <a href="#" class="view-btn">VIEW ALL <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                  </div>
                  <div class="d-flex justify-space-between">
                    <div class="divide-lg-3 divide-lm-5 divide-sl-10">
                      <div class="poduct-item">
                        <div class="poduct-item-img img-set">
                          <div class="comment">
                            <i class="fa fa-comments" aria-hidden="true"></i>
                            <span>73</span>
                          </div>
                          <div class="views"><i class="fa fa-eye" aria-hidden="true"></i> 3k</div>
                        </div>
                        <div class="poduct-item-text">
                          <ul>
                            <li>Active</li>
                            <li>Movie</li>
                          </ul>
                          <h5>Shiratorizawa Gakuen Koukou</h5>
                        </div>
                      </div>
                    </div>
                    <div class="divide-lg-3 divide-lm-5 divide-sl-10">
                      <div class="poduct-item">
                        <div class="poduct-item-img long-img-2 img-set">
                          <div class="comment">
                            <i class="fa fa-comments" aria-hidden="true"></i>
                            <span>73</span>
                          </div>
                          <div class="views"><i class="fa fa-eye" aria-hidden="true"></i> 3k</div>
                        </div>
                        <div class="poduct-item-text">
                          <ul>
                            <li>Active</li>
                            <li>Movie</li>
                          </ul>
                          <h5>Shiratorizawa Gakuen Koukou</h5>
                        </div>
                      </div>
                    </div>
                    <div class="divide-lg-3 divide-lm-5 divide-sl-10">
                      <div class="poduct-item">
                        <div class="poduct-item-img long-img-3 img-set">
                          <div class="comment">
                            <i class="fa fa-comments" aria-hidden="true"></i>
                            <span>73</span>
                          </div>
                          <div class="views"><i class="fa fa-eye" aria-hidden="true"></i> 3k</div>
                        </div>
                        <div class="poduct-item-text">
                          <ul>
                            <li>Active</li>
                            <li>Movie</li>
                          </ul>
                          <h5>Shiratorizawa Gakuen Koukou</h5>
                        </div>
                      </div>
                    </div>
                    <div class="divide-lg-3 divide-lm-5 divide-sl-10">
                      <div class="poduct-item">
                        <div class="poduct-item-img long-img-4 img-set">
                          <div class="comment">
                            <i class="fa fa-comments" aria-hidden="true"></i>
                            <span>73</span>
                          </div>
                          <div class="views"><i class="fa fa-eye" aria-hidden="true"></i> 3k</div>
                        </div>
                        <div class="poduct-item-text">
                          <ul>
                            <li>Active</li>
                            <li>Movie</li>
                          </ul>
                          <h5>Shiratorizawa Gakuen Koukou</h5>
                        </div>
                      </div>
                    </div>
                    <div class="divide-lg-3 divide-lm-5 divide-sl-10">
                      <div class="poduct-item">
                        <div class="poduct-item-img long-img-5 img-set">
                          <div class="comment">
                            <i class="fa fa-comments" aria-hidden="true"></i>
                            <span>73</span>
                          </div>
                          <div class="views"><i class="fa fa-eye" aria-hidden="true"></i> 3k</div>
                        </div>
                        <div class="poduct-item-text">
                          <ul>
                            <li>Active</li>
                            <li>Movie</li>
                          </ul>
                          <h5>Shiratorizawa Gakuen Koukou</h5>
                        </div>
                      </div>
                    </div>
                    <div class="divide-lg-3 divide-lm-5 divide-sl-10">
                      <div class="poduct-item">
                        <div class="poduct-item-img long-img-6 img-set">
                          <div class="comment">
                            <i class="fa fa-comments" aria-hidden="true"></i>
                            <span>73</span>
                          </div>
                          <div class="views"><i class="fa fa-eye" aria-hidden="true"></i> 3k</div>
                        </div>
                        <div class="poduct-item-text">
                          <ul>
                            <li>Active</li>
                            <li>Movie</li>
                          </ul>
                          <h5>Shiratorizawa Gakuen Koukou</h5>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- POPULAR -->
                <div class="poduct">
                  <div class="d-flex justify-space-between">
                    <div class="section-title">
                      <h3>POPULAR SHOWS</h3>
                    </div>
                    <a href="#" class="view-btn">VIEW ALL <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                  </div>
                  <div class="d-flex justify-space-between">
                    <div class="divide-lg-3 divide-lm-5 divide-ss-10">
                      <div class="poduct-item">
                        <div class="poduct-item-img long-img-2 img-set">
                          <div class="comment">
                            <i class="fa fa-comments" aria-hidden="true"></i>
                            <span>73</span>
                          </div>
                          <div class="views">95k</div>
                        </div>
                        <div class="poduct-item-text">
                          <ul>
                            <li>Active</li>
                            <li>Movie</li>
                          </ul>
                          <h5>Sen to Chihiro no Kamikakushi</h5>
                        </div>
                      </div>
                    </div>
                    <div class="divide-lg-3 divide-lm-5 divide-ss-10">
                      <div class="poduct-item">
                        <div class="poduct-item-img long-img-3 img-set">
                          <div class="comment">
                            <i class="fa fa-comments" aria-hidden="true"></i>
                            <span>73</span>
                          </div>
                          <div class="views">95k</div>
                        </div>
                        <div class="poduct-item-text">
                          <ul>
                            <li>Active</li>
                            <li>Movie</li>
                          </ul>
                          <h5>Sen to Chihiro no Kamikakushi</h5>
                        </div>
                      </div>
                    </div>
                    <div class="divide-lg-3 divide-lm-5 divide-ss-10">
                      <div class="poduct-item">
                        <div class="poduct-item-img long-img-4 img-set">
                          <div class="comment">
                            <i class="fa fa-comments" aria-hidden="true"></i>
                            <span>73</span>
                          </div>
                          <div class="views">95k</div>
                        </div>
                        <div class="poduct-item-text">
                          <ul>
                            <li>Active</li>
                            <li>Movie</li>
                          </ul>
                          <h5>Sen to Chihiro no Kamikakushi</h5>
                        </div>
                      </div>
                    </div>
                    <div class="divide-lg-3 divide-lm-5 divide-ss-10">
                      <div class="poduct-item">
                        <div class="poduct-item-img long-img-5 img-set">
                          <div class="comment">
                            <i class="fa fa-comments" aria-hidden="true"></i>
                            <span>73</span>
                          </div>
                          <div class="views">95k</div>
                        </div>
                        <div class="poduct-item-text">
                          <ul>
                            <li>Active</li>
                            <li>Movie</li>
                          </ul>
                          <h5>Sen to Chihiro no Kamikakushi</h5>
                        </div>
                      </div>
                    </div>
                    <div class="divide-lg-3 divide-lm-5 divide-ss-10">
                      <div class="poduct-item">
                        <div class="poduct-item-img long-img-2 img-set">
                          <div class="comment">
                            <i class="fa fa-comments" aria-hidden="true"></i>
                            <span>73</span>
                          </div>
                          <div class="views">95k</div>
                        </div>
                        <div class="poduct-item-text">
                          <ul>
                            <li>Active</li>
                            <li>Movie</li>
                          </ul>
                          <h5>Sen to Chihiro no Kamikakushi</h5>
                        </div>
                      </div>
                    </div>
                    <div class="divide-lg-3 divide-lm-5 divide-ss-10">
                      <div class="poduct-item">
                        <div class="poduct-item-img img-set">
                          <div class="comment">
                            <i class="fa fa-comments" aria-hidden="true"></i>
                            <span>73</span>
                          </div>
                          <div class="views">95k</div>
                        </div>
                        <div class="poduct-item-text">
                          <ul>
                            <li>Active</li>
                            <li>Movie</li>
                          </ul>
                          <h5>Sen to Chihiro no Kamikakushi</h5>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- --------------------------------------------------- -->
              <div class="divide-lg-3 divide-lm-10">
                <div class="slide-right">
                  <div class="slide-top-view divide-lm-5 divide-sl-10">
                    <div class="d-flex justify-space-between">
                      <div class="section-title">
                        <h3>TOP VIEW</h3>
                      </div>
                      <ul class="d-m-y">
                        <li><a href="">day</a></li>
                        <li><a href="">week</a></li>
                        <li><a href="">month</a></li>
                        <li><a href="">years</a></li>
                      </ul>
                    </div>
                    <div class="gallery">
                      <div class="slide-view-item">
                        <div class="top-view-img img-set" style="background-image: url('img/tower.jpg');">
                          <div class="text-details">
                          <h4>Kizumonogatari III: Reiket su-hen</h4>
                          <div class="d-flex justify-space-between">
                            <span>901k views</span>
                            <span>2days ago</span>
                          </div>
                        </div>
                        </div>
                      </div>
                      <div class="slide-view-item">
                        <div class="top-view-img img-set" style="background-image: url('img/caro-bg-w.jpg');">
                          <div class="text-details">
                          <h4>Kizumonogatari III: Reiket su-hen</h4>
                          <div class="d-flex justify-space-between">
                            <span>901k views</span>
                            <span>2days ago</span>
                          </div>
                        </div>
                        </div>
                      </div>
                      <div class="slide-view-item">
                        <div class="top-view-img img-set" style="background-image: url('img/tower.jpg');">
                          <div class="text-details">
                          <h4>Kizumonogatari III: Reiket su-hen</h4>
                          <div class="d-flex justify-space-between">
                            <span>901k views</span>
                            <span>2days ago</span>
                          </div>
                        </div>
                        </div>
                      </div>
                      <div class="slide-view-item">
                        <div class="top-view-img img-set" style="background-image: url('img/caro-bg-w.jpg');">
                          <div class="text-details">
                          <h4>Kizumonogatari III: Reiket su-hen</h4>
                          <div class="d-flex justify-space-between">
                            <span>901k views</span>
                            <span>2days ago</span>
                          </div>
                        </div>
                        </div>
                      </div>
                      <div class="slide-view-item">
                        <div class="top-view-img img-set" style="background-image: url('img/tower.jpg');">
                          <div class="text-details">
                          <h4>Kizumonogatari III: Reiket su-hen</h4>
                          <div class="d-flex justify-space-between">
                            <span>901k views</span>
                            <span>2days ago</span>
                          </div>
                        </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- comment -->
                  <div class="slide-comment divide-lm-5 divide-sl-10">
                    <div class="section-title">
                      <h3>new comment</h3>
                    </div>
                    <div class="slide-comment-item">
                      <div class="slide-comment-item-img">
                        <img src="img/towerof.jpg" alt="">
                      </div>
                      <div class="slide-comment-item-text">
                        <h4>Monogatari Series: Second Season</h4>
                        <ul>
                          <li><a href="#">1 week ago</a></li>
                          <li><a href="#">1M views</a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="slide-comment-item">
                      <div class="slide-comment-item-img">
                        <img src="img/bg-ani.jpeg" alt="">
                      </div>
                      <div class="slide-comment-item-text">
                        <h4>Monogatari Series: Second Season</h4>
                        <ul>
                          <li><a href="#">1 week ago</a></li>
                          <li><a href="#">1M views</a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="slide-comment-item">
                      <div class="slide-comment-item-img">
                        <img src="img/towerof.jpg" alt="">
                      </div>
                      <div class="slide-comment-item-text">
                        <h4>Monogatari Series: Second Season</h4>
                        <ul>
                          <li><a href="#">1 week ago</a></li>
                          <li><a href="#">1M views</a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="slide-comment-item">
                      <div class="slide-comment-item-img">
                        <img src="img/bg-ani.jpeg" alt="">
                      </div>
                      <div class="slide-comment-item-text">
                        <h4>Monogatari Series: Second Season</h4>
                        <ul>
                          <li><a href="#">1 week ago</a></li>
                          <li><a href="#">1M views</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="container">
            <div class="recoment-channel">
              <div class="section-title">
                <h3>recommended channel</h3>
              </div>
              <div class="owl-carousel most-channel">
                <div class="item">
                  <div class="d-flex">
                    <div class="channel-logo img-set"></div>
                    <div class="channel-details">
                      <h3>popular gaming channels</h3>
                      <a href="#">Follow</a>
                      <span>101,488,500 views</span>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="d-flex">
                    <div class="channel-logo img-set"></div>
                    <div class="channel-details">
                      <h3>popular gaming channels</h3>
                      <a href="#">Follow</a>
                      <span>101,488,500 views</span>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="d-flex">
                    <div class="channel-logo img-set"></div>
                    <div class="channel-details">
                      <h3>popular gaming channels</h3>
                      <a href="#">Follow</a>
                      <span>101,488,500 views</span>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="d-flex">
                    <div class="channel-logo img-set"></div>
                    <div class="channel-details">
                      <h3>popular gaming channels</h3>
                      <a href="#">Follow</a>
                      <span>101,488,500 views</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="categories">
            <div class="container">
              <div class="d-flex">
                <div class="divide-lg-6 divide-m-3 divide-s-2 divide-x-1">
                  <img src="img/Valorant.jpg" alt="">
                  <div class="title">
                    <h4>VAlORANT</h4>
                    <span>280k viewers</span>
                    <h5>Simulation</h5>
                    <h5>FPS</h5>
                  </div>
                </div>
                <div class="divide-lg-6 divide-m-3 divide-s-2 divide-x-1">
                  <img src="img/tower.jpg" alt="">
                  <div class="title">
                    <h4>TOWER OF FANTASY</h4>
                    <span>280k viewers</span>
                    <h5>RPG</h5>
                    <h5>Sooter</h5>
                  </div>
                </div>
                <div class="divide-lg-6 divide-m-3 divide-s-2 divide-x-1">
                  <img src="img/apex.png" alt="">
                  <div class="title">
                    <h4>APEX LEGEND</h4>
                    <span>280k viewers</span>
                    <h5>Simulation</h5>
                    <h5>Action</h5>
                  </div>
                </div>
                <div class="divide-lg-6 divide-m-3 divide-s-2 divide-x-1">
                  <img src="img/Valorant.jpg" alt="">
                  <div class="title">
                    <h4>VAlORANT</h4>
                    <span>280k viewers</span>
                    <h5>Sooter</h5>
                  </div>
                </div>
                <div class="divide-lg-6 divide-m-3 divide-s-2 divide-x-1">
                  <img src="img/caro-bg-w.jpg" alt="">
                  <div class="title">
                    <h4>TOWER OF FANTASY</h4>
                    <span>280k viewers</span>
                    <h5>Action</h5>
                  </div>
                </div>
                <div class="divide-lg-6 divide-m-3 divide-s-2 divide-x-1">
                  <img src="img/apex.png" alt="">
                  <div class="title">
                    <h4>APEX LEGEND</h4>
                    <span>280k viewers</span>
                    <h5>FPS</h5>
                    <h5>URL</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <footer>
          <div class="container">
            <div class="copyr">
              <p>© 2009 - 2021. All rights reserved. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam reiciendis quas, amet autem labore perspiciatis quibusdam expedita vitae officia nesciunt  Aliquam reiciendis quas, amet autem!</p>
              <span><a href="#"> Privacy Policy </a> | <a href="#"> Subscriber Agreement </a> | 
                <a href="#"> Cookies </a> | <a href="#"> About </a> | <a href="#"> Jobs </a> | <a href="#"> Distribution </a> | <a href="#"> Support </a></span>
            </div>
          </div>
        </footer>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
       
       <script>
          $('.hero-owl-carousel').owlCarousel({
            loop:true,
            margin:0,
            nav:false,
            autoplay:true,
            autoplayTimeout:1000,
            autoplayHoverPause:true,
            responsive:{
                0:{
                    items:1
                },
                1000:{
                    items:1
                }
              }
            });
            $('.top-live-game').owlCarousel({
              loop:true,
              margin:5,
              nav:false,
              responsive:{
                  0:{
                      items:1
                  },
                  400:{
                      items:2
                  },
                  1000:{
                      items:3
                  }
               }
             });
             $('.most-channel').owlCarousel({
              loop:true,
              margin: 4,
              nav:false,
              responsive:{
                  0:{
                      items:1
                  },
                  670:{
                      items:2
                  },

                  1100:{
                      items:3
                  }
               }
             });

             $('.toggle-btn').click(function(){
               $('.header-nav').fadeIn(1000);
               $('.header-nav nav span').fadeIn(1000);
             });
             $('.header-nav nav span').click(function(){
               $('.header-nav').fadeOut(700);
             });
        </script>
</body>
</html>