<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Land Care</title>
	<script src="js/jquery-3.5.1.js"></script>

	<link rel="stylesheet" type="text/css" href="your_website_domain/css_root/flaticon.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/style.css">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css" integrity="sha512-OTcub78R3msOCtY3Tc6FzeDJ8N9qvQn1Ph49ou13xgA9VsH9+LRxoFU6EqLhW4+PKRfU+/HReXmSZXHEkpYoOA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

	<header>
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-4 col-xs-12">
					<div class="icon-box">
						<i class="fa fa-facebook d-flex align-center" aria-hidden="true"></i>
						<i class="fa fa-twitter d-flex align-center" aria-hidden="true"></i>
						<i class="fa fa-instagram d-flex align-center" aria-hidden="true"></i>
						<i class="fa fa-dribbble d-flex align-center" aria-hidden="true"></i>
					</div>
				</div>

				<div class="col-md-4 col-sm-4 col-xs-12">
					<h1 class="logo">Lawn<span style="color: #008000;">Care</span></h1>
				</div>

				<div class="col-md-4 col-sm-4 col-xs-12">
					<div class="top-form">
						<form action="#">
							<div class="form-group">
								<input type="search" name="" id="" placeholder="search" class="form-control">
							</div>
							<button type="submit" class="submit fa fa-search"></button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</header>

	<nav class="navbar navbar-inverse" id="navigation">
		<div class="container">
		  <div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mynavbar">
				<span class="glyphicon glyphicon-option-vertical"></span>
			  </button>
		  </div>
			<div class="collapse navbar-collapse" id="mynavbar">
				<ul class="nav navbar-nav">
					<li><a href="#">HOME</a></li>
					<li><a href="#">ABOUT US</a></li>
					<li><a href="#">SERVICE</a></li>
					<li><a href="#">BLOG</a></li>
					<li><a href="#">GALLERY</a></li>
					<li><a href="#">BLOG</a></li>
					<li><a href="#">CONTACT</a></li>
				</ul>
			</div>
		</div>
	  </nav>

	  <div class="hero set-img">
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<div class="hero-text">
						<p>WELCOME TO LAWN CARE</p>
						<h1>Lawn care for everyone</h1>
						<span>Let us work on your yard</span>
						<button class="hero-btn ">More Details Info</button>
					</div>
				</div>
			</div>
		  </div>
	  </div>

	  <section class="services">
		  <div class="container">
			  <div class="row">
					<div class="col-lg-3 col-sm-4 col-xs-12">
						<div class="rules-box text-center d-flex align-center">							
							<i class="fa fa-line-chart d-flex align-center" aria-hidden="true"></i>	
							<div class="text">
								<h3>Garden Care</h3>
							<p>Seeking justice in the world is a sed significant emotional and investment when we follow this call.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-sm-4 col-xs-12">
						<div class="rules-box text-center d-flex align-center">							
							<i class="fa fa-line-chart d-flex align-center" aria-hidden="true"></i>	
							<div class="text">
								<h3>Garden Care</h3>
							<p>Seeking justice in the world is a sed significant emotional and investment when we follow this call.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-sm-4 col-xs-12">
						<div class="rules-box text-center d-flex align-center">							
							<i class="fa fa-line-chart d-flex align-center" aria-hidden="true"></i>	
							<div class="text">
								<h3>Garden Care</h3>
							<p>Seeking justice in the world is a sed significant emotional and investment when we follow this call.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-sm-12 col-xs-12">
					<div class="section-title">
						<h4>Services</h4>
						<h2>Lawn Services</h2>
					</div>
					<p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your.</p>
					<p><a href="#">Get a Quote</a></p>
					</div>
			  </div>
		  </div>
	  </section>

		<section class="company">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-md-6">
						<div class="bg-img-use set-img"></div>
					</div>
					<div class="col-xs-12 col-md-6">
						<div class="section-title">
							<h4>Welcome to Lawn Care</h4>
							<h2>Welcome to Lawn Care Company</h2>
						</div>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
						<div class="wrap">
							<a href="">Gutter cleaning
								<i class="fa fa-long-arrow-right d-flex align-center" aria-hidden="true"></i>
							</a>
							<a href="">Organinc fertilization and weed control
								<i class="fa fa-long-arrow-right d-flex align-center" aria-hidden="true"></i>
							</a>
							<a href="">Compost top dressing & compost tea application
								<i class="fa fa-long-arrow-right d-flex align-center" aria-hidden="true"></i>
							</a>
							<a href="">New lawn installation
								<i class="fa fa-long-arrow-right d-flex align-center" aria-hidden="true"></i>
							</a>
							<a href="">Mulch and other services available
								<i class="fa fa-long-arrow-right d-flex align-center" aria-hidden="true"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="lawn">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<div class="section-title text-center">
							<h4>Welcome to Lawn Care</h4>
							<h2>Welcome to Lawn Care Company</h2>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="owl-carousel owl-theme">
							<div class="item">
								<img src="https://images.pexels.com/photos/3601425/pexels-photo-3601425.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
									<div class="text text-center">
									<h3><a href="#">Summer</a></h3>
									<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
									</div>
							</div>
							<div class="item">
								<img src="https://images.pexels.com/photos/3694404/pexels-photo-3694404.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
									<div class="text text-center">
									<h3><a href="#">Winter</a></h3>
									<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
									</div>
							</div>
							<div class="item">
								<img src="https://images.pexels.com/photos/257360/pexels-photo-257360.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
									<div class="text text-center">
									<h3><a href="#">Fall</a></h3>
									<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
									</div>
							</div>
							<div class="item">
								<img src="https://images.pexels.com/photos/414083/pexels-photo-414083.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
								<div class="text text-center">
								<h3><a href="#">Spring</a></h3>
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="contact">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="text d-flex">
							<h2 style="color:aliceblue;">Contact with us</h2>
							<h4 style="color:aliceblue;">Do you have any comments or questions about the products then contact us.</h4>
						</div>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="text d-flex">
							<h1 style="color:#d1b30c;">+91 123 4567 8901</h1>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="client">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<div class="section-title text-center">
							<h4>Welcome to Lawn Care</h4>
							<h2>Happy Clients</h2>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="owl-carousel owl-theme">
							<div class="item">
								<h5>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</h5>
								<div class="name d-flex">
									<div class="bg-img">
										<img src="https://images.pexels.com/photos/1212984/pexels-photo-1212984.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
									</div>
									<div class="text">
										<h4>Varadayi Das</h4>
										<p>Auspicious</p>
									</div>
								</div>
							</div>

							<div class="item">
								<h5>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</h5>
								<div class="name d-flex">
									<div class="bg-img">
										<img src="https://images.pexels.com/photos/2380794/pexels-photo-2380794.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
									</div>
									<div class="text">
										<h4>Varadayi Das</h4>
										<p>Auspicious</p>
									</div>
								</div>
							</div>

							<div class="item">
								<h5>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</h5>
								<div class="name d-flex">
									<div class="bg-img">
										<img src="https://images.pexels.com/photos/1460365/pexels-photo-1460365.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
									</div>
									<div class="text">
										<h4>Varadayi Das</h4>
										<p>Auspicious</p>
									</div>
								</div>
							</div>

							<div class="item">
								<h5>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</h5>
								<div class="name d-flex">
									<div class="bg-img">
										<img src="https://images.pexels.com/photos/428364/pexels-photo-428364.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
									</div>
									<div class="text">
										<h4>Varadayi Das</h4>
										<p>Auspicious</p>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>	
		</section>

		<section class="recent">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<div class="section-title text-center">
							<h4>Our Blog</h4>
							<h2>Recent Blog</h2>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4 col-xs-12">
						<div class="bg-img">
							<img src="https://images.pexels.com/photos/1366088/pexels-photo-1366088.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
						</div>
						<div class="text">
							<h4>All you want to know about industrial laws</h4>
							<p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
							<a href="#" class="btn btn-success">Read more</a>
						</div>
					</div>
					<div class="col-sm-4 col-xs-12">
						<div class="bg-img">
							<img src="https://images.pexels.com/photos/1237777/pexels-photo-1237777.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
						</div>
						<div class="text">
							<h4>All you want to know about industrial laws</h4>
							<p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
							<a href="#" class="btn btn-success">Read more</a>
						</div>
					</div>
					<div class="col-sm-4 col-xs-12">
						<div class="bg-img">
							<img src="https://images.pexels.com/photos/280229/pexels-photo-280229.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
						</div>
						<div class="text">
							<h4>All you want to know about industrial laws</h4>
							<p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
							<a href="#" class="btn btn-success">Read more</a>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="subcsribe">
			<div class="container">
				<div class="row">
					<div class="col-sm-6 col-xs-12">
						<h3 style="margin-top: 0; color: #fff;">Subscribe to our Newsletter</h3>
					</div>
					<div class="col-sm-6 col-xs-12">
						<form action="#">
							<div class="form-group">
								<input type="email" name="" id="" class="form-control" placeholder="Enter your emain Id">
							</div>
							<button type="submit">SUBSCRIBE</button>
						</form>
					</div>
				</div>
			</div>
		</section>

	  <footer>
		  <div class="container">
			  <div class="row">
				  <div class="col-xs-12 col-sm-6 col-lg-3">
					  <h3>Lawn<span style="color: #4e9525; font-weight: bold;">Care</span></h3>
					  <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
					  <div class="footer-icon">
						<a href="#"><span class="d-flex align-center fa fa-twitter"></span></a>
						<a href="#"><span class="d-flex align-center fa fa-facebook"></span></a>
						<a href="#"><span class="d-flex align-center fa fa-instagram"></span></a>
					  </div>
				  </div>
				  <div class="col-xs-12 col-sm-6 col-lg-3">
					  <h3>Services</h3>
					  <ul>
						  <li><i class="fa fa-angle-right" aria-hidden="true"></i> Garden Care</li>
						  <li><i class="fa fa-angle-right" aria-hidden="true"></i> Lawn mowing</li>
						  <li><i class="fa fa-angle-right" aria-hidden="true"></i> Lawn Care</li>
						  <li><i class="fa fa-angle-right" aria-hidden="true"></i> Gutter Cleaning</li>
						  <li><i class="fa fa-angle-right" aria-hidden="true"></i> New Lawn Installation</li>
					  </ul>
				  </div>
				  <div class="col-xs-12 col-sm-6 col-lg-3">
					  <h3>Contact information</h3>
					  <ul>
						  <li><span class="fa fa-map-marker" aria-hidden="true"></span><span class="list-adress"> 203 Fake St. durganagar, <br> kolkata, west bengal, IND</span></li>
						  <li><span class="fa fa-phone" aria-hidden="true"></span> +91 12 3456 7899</li>
						  <li><span class="fa fa-envelope" aria-hidden="true"></span> info@wedserver.com</li>
					  </ul>
				  </div>
				  <div class="col-xs-12 col-sm-6 col-lg-3">
					<h3>Business Hours</h3>
					  <div class="time">
						<h4>Opening Days:</h4>
						<h5>Monday – Friday : 9am to 20 pm Saturday : 9am to 17 pm</h5>
						<h4>Vacations:</h4>
						<h5>All Sunday Days All Official Holidays</h5>
					  </div>
				  </div>
			  </div>
		  </div>
		  	 <div class="copyright">
				<p>Copyright ©2021 All rights reserved | This template is made with by DEBRAJ</p>
			</div>
	  </footer>
	 


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

	<script>
		$('.owl-carousel').owlCarousel({
			loop:true,
			margin:10,
			nav:false,
			responsive:{
				0:{
					items:1
				},
				400:{
					items:1
				},
				1000:{
					items:3
				}
			}
		})
	</script>
</body>
</html>