<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Logistic html</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/style.css">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css" integrity="sha512-OTcub78R3msOCtY3Tc6FzeDJ8N9qvQn1Ph49ou13xgA9VsH9+LRxoFU6EqLhW4+PKRfU+/HReXmSZXHEkpYoOA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
	<script src="js/jquery-3.5.1.js"></script>
</head>
<body>

	<header>
		<div class="d-flex justify-space-between align-center">
			<div class="logo"><h1>Logistic</h1></div>
			<nav>
				<div class="d-flex justify-space-between">
					<ul class="d-flex">
						<li><a href="#">Home</a></li>
						<li><a href="#">Services</a></li>
						<li><a href="#">Client</a></li>
						<li><a href="#">Tracking</a></li>
						<li><a href="#">Quote</a></li>
						<li><a href="#">About</a></li>
						<li><a href="#">My Account</a></li>
						<li><a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						<li><a class="red" href="#">Get Free quote</i></a></li>
					</ul>
				</div>
			</nav>
			<button class="toggel-btn">MENU <i class="fa fa-bars" aria-hidden="true"></i></button>
		</div>
		
	</header>

	<div class="hero bg-set">
		<div class="container">
			<div class="text">
				<div class="d-flex">
					<div class="l">
						<h1>Give your business a flow</h1>
						<button class="service-btn">Our Service</button>
					</div>
					<div class="r d-flex justify-center align-center">
						<h1>Transport quality and excellence to enhance your business</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<section class="service">
		<div class="container">
			<div class="section-title text-center">
				<h2>Our Services</h2>
			</div>
			<div class="d-flex">
				<div class="divide-lg-3 divide-m-2 divide-s-1">
					<div class="item">
						<div class="img-bg">
							<img src="https://images.pexels.com/photos/221307/pexels-photo-221307.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
						</div>
						<div class="text">
							<h2><span>1.</span> Air Shipping</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos praesentium quaerat maiores dolorem provident vel tenetur quis adipisci nemo vitae.</p>
						</div>
					</div>
				</div>
				<div class="divide-lg-3 divide-m-2 divide-s-1">
					<div class="item">
						<div class="img-bg">
							<img src="https://images.pexels.com/photos/1554646/pexels-photo-1554646.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
						</div>
						<div class="text">
							<h2><span>2.</span> Logistic Shipping</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos praesentium quaerat maiores dolorem provident vel tenetur quis adipisci nemo vitae.</p>
						</div>
					</div>
				</div>
				<div class="divide-lg-3 divide-m-2 divide-s-1">
					<div class="item">
						<div class="img-bg">
							<img src="https://images.pexels.com/photos/93398/pexels-photo-93398.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
						</div>
						<div class="text">
							<h2><span>3.</span> Ground Shipping</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos praesentium quaerat maiores dolorem provident vel tenetur quis adipisci nemo vitae.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="business-tracking">
		<div class="container">
			<div class="d-flex">
				<div class="divide-lg-2 divide-s-1">
					<div class="l">
						<div class="section-title">
							<h2>We have a wide range of solutions for your business</h2>
						</div>
						<p>Praesent eu rhoncus nibh. Quisque tincidunt, nisi in enetis pharetra dolor, nec lacinia.</p>
						<button class="more-btn">Learn More</button>
					</div>
				</div>
				<div class="divide-lg-2 divide-s-1">
					<div class="r">
						<div class="d-flex">
							<div class="divide-lg-1">
								<div class="item d-flex">
									<i class="fa fa-archive" aria-hidden="true"></i>
									<h4>Tracking Is Easy</h4>
									<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In quas, itaque sint exercitationem nemo eius obcaecati quod quasi unde magni?</p>
								</div>
							</div>
							<div class="divide-lg-1">
								<div class="item d-flex">
									<i class="fa fa-archive" aria-hidden="true"></i>
									<h4>Multiple Warehouses</h4>
									<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In quas, itaque sint exercitationem nemo eius obcaecati quod quasi unde magni?</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="solution">
		<div class="d-flex">
			<div class="divide-lg-2 divide-s-1">
				<div class="img-bg">
					<img src="https://images.pexels.com/photos/6169033/pexels-photo-6169033.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
				</div>
			</div>
			<div class="divide-lg-2 divide-s-1">
				<div class="details">
					<h2>We give you complete controlof your shipments.</h2>
					<div class="d-flex">
						<div class="divide-lg-2 divide-x-1">
							<div class="left-bor">
								<h3>Logistic Solution</h3>
								<span>Praesent eu rhoncus nibh. Quisque tincidunt, nisi in enetis commodo, neque quam pharetra dolor, nec lacinia.</span>
								<a href="">Learn more <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
							</div>
						</div>
						<div class="divide-lg-2 divide-x-1">
							<h3>Logistic Solution</h3>
							<span>Praesent eu rhoncus nibh. Quisque tincidunt, nisi in enetis commodo, neque quam pharetra dolor, nec lacinia.</span>
							<a href="">Learn more <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="quote">
		<div class="container">
			<div class="d-flex">
				<div class="divide-lg-2 divide-m-1">
					<div class="text">
						<div class="section-title">
							<h2>Get free quote</h2>
						</div>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat rerum cumque consequatur hic, perspiciatis unde, esse consequuntur, assumenda expedita velit reprehenderit doloribus!</p>
						<a href=""><i class="fa fa-phone" aria-hidden="true"></i> (+91) 123 4567 890</a>
					</div>
				</div>
				<div class="divide-lg-2 divide-m-1">
					<div class="quote-form">
						<form action="#">
							<div class="d-flex">
								<div class="divide-lg-3">
									<input type="checkbox" name="" id="oce">
									<label for="oce">OCEAN FREIGHT</label>
								</div>
								<div class="divide-lg-3">
									<input type="checkbox" name="" id="air">
									<label for="air">AIR FREIGHT</label>
								</div>
								<div class="divide-lg-3">
									<input type="checkbox" name="" id="road">
									<label for="road">LAND TRANSPORT</label>
								</div>
								<!--  -->
								<div class="divide-lg-3 divide-x-1">
									<label for="cargo">CARGO TYPE</label>
									<input type="text" id="cargo" required>
								</div>
								<div class="divide-lg-3 divide-x-1">
									<label for="country">COUNTRY OF ORIGIN</label>
									<input type="text" id="country" required >
								</div>
								<div class="divide-lg-3 divide-x-1">
									<label for="destination">DESTINATION</label>
									<input type="text" id="destination" required>
								</div>
								<!--  -->
								<div class="divide-lg-5 divide-x-1">
									<label for="qty">QTY</label>
									<input type="text" id="qty" required>
								</div>
								<div class="divide-lg-5 divide-x-1">
									<label for="wet">WEIGHT</label>
									<input type="text" id="wet" required>
								</div>
								<div class="divide-lg-5 divide-x-1">
									<label for="wid">WIDTH</label>
									<input type="text" id="wid" required>
								</div>
								<div class="divide-lg-5 divide-x-1">
									<label for="hei">HEIGHT</label>
									<input type="text" id="hei" required>
								</div>
								<div class="divide-lg-5 divide-x-1">
									<label for="lei">LEIGHT</label>
									<input type="text" id="lei" required>
								</div>
								<!--  -->
								<div class="divide-lg-3 divide-x-1">
									<label for="nam">NAME</label>
									<input type="text" id="nam" required>
								</div>
								<div class="divide-lg-3 divide-x-1">
									<label for="mail">E-mail</label>
									<input type="text" id="mail" required>
								</div>
								<div class="divide-lg-3  divide-x-1">
									<label for="pho">PHONE</label>
									<input type="text" id="pho" required>
								</div>
							</div>
							<button type="submit" class="divide-x-1">Request Quote</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="attachment">
		<div class="bg-img-set"></div>
	</section>

	<section class="client">
		<div class="container">
			<div class="section-title text-center">
				<h2>Client Testimonial</h2>
			</div>
			<div class="d-flex justify-center">
				<div class="client-carousel">
					<div class="owl-carousel owl-theme">
						<div class="item d-flex justify-center  text-center">
							<p>Repellat aliquid corrupti et illo veritatis neque, modi odit consectetur numquam magni veniam? Cumque quo ullam, magni quas quae tempore.</p>
							<div class="profile d-flex">
								<div class="bg-img-use bg-set"></div>
								<div class="text">
									<h5>Fanyin babies</h5>
									<span>pray for peace</span>
								</div>
							</div>
						</div>
						<div class="item d-flex justify-center text-center">
							<p>Repellat aliquid corrupti et illo veritatis neque, modi odit consectetur numquam magni veniam? Cumque quo ullam, magni quas quae tempore.</p>
							<div class="profile d-flex">
								<div class="bg-img-use bg-set"></div>
								<div class="text">
									<h5>Fanyin babies</h5>
									<span>pray for peace</span>
								</div>
							</div>
						</div>
						<div class="item d-flex justify-center  text-center">
							<p>Repellat aliquid corrupti et illo veritatis neque, modi odit consectetur numquam magni veniam? Cumque quo ullam, magni quas quae tempore.</p>
							<div class="profile d-flex">
								<div class="bg-img-use bg-set"></div>
								<div class="text">
									<h5>Fanyin babies</h5>
									<span>pray for peace</span>
								</div>
							</div>
						</div>
					</div>	
				</div>
			</div>
		</div>
	</section>

	<section class="map-goog">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14728.523721002266!2d88.41848324827112!3d22.64890647390354!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39f89e65916bfaa5%3A0x215e1cef39403b96!2sDurga%20Nagar%2C%20North%20Dumdum%2C%20Kolkata%2C%20West%20Bengal%20700065!5e0!3m2!1sen!2sin!4v1629642938315!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
	</section>

	<footer>
		<div class="d-flex">
			<div class="divide-lg-3 divide-x-1">
				<h2>Company</h2>
				<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora repellat a mollitia aliquam vero voluptas aut ipsa dicta modi, quasi et adipisci eius vel itaque vitae veritatis laudantium, porro soluta.</p>
				<div class="footer-social">
					<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
					<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
					<a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a>
					<a href="#"><i class="fa fa-weibo" aria-hidden="true"></i></a>
				</div>
			</div>
			<div class="divide-lg-3 divide-x-1">
				<h3>Company</h3>
				<ul>
					<li><a href="#">Listing</a></li>
					<li><a href="#">Submit your Business</a></li>
					<li><a href="#">About</a></li>
					<li><a href="#">Blog</a></li>
					<li><a href="#">Cities</a></li>
				</ul>
			</div>
			<div class="divide-lg-3 divide-x-1">
				<h3>Company</h3>
				<ul>
					<li><a href="#">Listing</a></li>
					<li><a href="#">Our Team</a></li>
					<li><a href="#">Privacy Policy</a></li>
					<li><a href="#">Testimonial</a></li>
					<li><a href="#">User Stories</a></li>
				</ul>
			</div>
		</div>
		<section class="copyright">
			<h4>Copyright ©2021 All rights reserved | This template is made Debraj</h4>
		</section>
	</footer>

	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	
	<script>
		$('.owl-carousel').owlCarousel({
			loop:true,
			margin:0,
			autoplay:true,
			autoplayTimeout:1000,
			autoplayHoverPause:true,
			nav:false,
			responsive:{
				0:{
					items:1
				},
				1000:{
					items:1
				}
			}
		});

		$('header .toggel-btn').click(function(){
			$('header nav').fadeToggle(1000)
		})
	</script>
	  
</body>
</html>