<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Djclub Internation</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css" integrity="sha512-OTcub78R3msOCtY3Tc6FzeDJ8N9qvQn1Ph49ou13xgA9VsH9+LRxoFU6EqLhW4+PKRfU+/HReXmSZXHEkpYoOA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="CSS/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300&display=swap" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
        <header class="" data-stellar-background-ratio="0.5">
          <div class="container">
            <div class="d-flex justify-space-between align-center">
              <div class="logo">
                <h2><a href="#">DJ<span>CLUB</span></a></h2>
              </div>
              <nav>
                <i class="nav-close fa fa-times" aria-hidden="true"></i>
                <ul class="d-flex">
                  <li><a href="#">Home</a></li>
                  <li><a href="#">dj Pro</a></li>
                  <li><a href="#">Shows</a></li>
                  <li><a href="#">Events</a></li>
                  <li><a href="#">About</a></li>
                  <li><a href="#">Contact</a></li>
                </ul>
              </nav>
              <button class="toggle-btn">MENU <i class="fa fa-ellipsis-v" aria-hidden="true"></i></button>
            </div>
            <div class="hero-text">
              <h1>TURN ON THE FEELING WITH MUSIC</h1>
              <p><a href="#">find now music</a></p>
            </div>
          </div>
        </header>

        <section>
          <!-- 1 -->
          <div class="upcoming-area">
            <div class="container">
              <div class="d-flex">
                <div class="section-heading-text">
                  <h2>UPCOMING SHOWS</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio ea voluptatum repellendus corporis ipsum libero odit illum earum? Eum, ea. Nemo consequatur maiores enim vel magnam. Quisquam unde perspiciatis neque?</p>
                </div>
              </div>
              <div class="d-flex justify-space-between">
                <div class="divide-lg-4 divide-ls-2 divide-xl-1">
                  <div class="upcoming-item">
                    <a href="#">
                      <div class="img">
                        <img src="https://images.pexels.com/photos/625644/pexels-photo-625644.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
                      </div>
                      <div class="text">
                        <h2>this is the day</h2>
                        <span>monday 02:00AM - 04:00AM</span>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="divide-lg-4 divide-ls-2 divide-xl-1">
                  <div class="upcoming-item">
                    <a href="#">
                      <div class="img">
                        <img src="https://images.pexels.com/photos/3812949/pexels-photo-3812949.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
                      </div>
                      <div class="text">
                        <h2>this is the day</h2>
                        <span>monday 02:00AM - 04:00AM</span>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="divide-lg-4 divide-ls-2 divide-xl-1">
                  <div class="upcoming-item">
                    <a href="#">
                      <div class="img">
                        <img src="https://images.pexels.com/photos/3815130/pexels-photo-3815130.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
                      </div>
                      <div class="text">
                        <h2>this is the day</h2>
                        <span>monday 02:00AM - 04:00AM</span>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="divide-lg-4 divide-ls-2 divide-xl-1">
                  <div class="upcoming-item">
                    <a href="#">
                      <div class="img">
                        <img src="https://images.pexels.com/photos/3682820/pexels-photo-3682820.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
                      </div>
                      <div class="text">
                        <h2>this is the day</h2>
                        <span>monday 02:00AM - 04:00AM</span>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- 2 -->
          <div class="featured-area">
            <div class="container">
              <div class="d-flex">
                <div class="section-heading-text">
                  <h2>FEATURED PODCASTS</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio ea voluptatum repellendus corporis ipsum libero odit illum earum? Eum, ea. Nemo consequatur maiores enim vel magnam. Quisquam unde perspiciatis neque?</p>
                </div>
              </div>
              <div class="d-flex">
                <div class="divide-lg-2 divide-sm-1 divide-xl-1">
                  <div class="featured-item-left">
                    <div class="img">
                      <img src="https://images.pexels.com/photos/3379257/pexels-photo-3379257.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
                    </div>
                      <div class="text">
                        <h2>Classic Songs For Classic People</h2>
                        <span>webnesday 06:00PM - 07:30PM</span>
                      </div>
                  </div>
                </div>
                <div class="divide-lg-2 divide-sm-1 divide-xl-1">
                  <div class="featured-item-right">
                    <div class="img">
                      <img src="https://images.pexels.com/photos/2034851/pexels-photo-2034851.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
                    </div>
                      <div class="text">
                        <h2>Classic Songs For Classic People</h2>
                        <span>webnesday 06:00PM - 07:30PM</span>
                      </div>
                  </div>
                  <div class="featured-item-right divide-sm-1 divide-xl-1">
                    <div class="img">
                      <img src="https://images.pexels.com/photos/3249760/pexels-photo-3249760.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
                    </div>
                      <div class="text">
                        <h2>Classic Songs For Classic People</h2>
                        <span>webnesday 06:00PM - 07:30PM</span>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- 3 -->
          <div class="love-list">
            <div class="container">
              <div class="d-flex">
                <div class="section-heading-text">
                  <h2>LOVE BY OUR LISTENERS</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio ea voluptatum repellendus corporis ipsum libero odit illum earum? Eum, ea. Nemo consequatur maiores enim vel magnam. Quisquam unde perspiciatis neque?</p>
                </div>
              </div>
              <div class="love-list-carousel">
                <div class="owl-carousel owl-theme">
                  <div class="item">
                    <div class="profile-img">
                      <img src="https://images.pexels.com/photos/1680172/pexels-photo-1680172.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
                    </div>
                    <div class="text-black">
                      <h3>debraj sikdar</h3>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex et illum iusto excepturi numquam, aperiam eveniet in. Aperiam vitae eaque</p>
                    </div>
                  </div>
                  <div class="item">
                    <div class="profile-img">
                      <img src="https://images.pexels.com/photos/2770599/pexels-photo-2770599.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
                    </div>
                    <div class="text-black">
                      <h3>debraj sikdar</h3>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex et illum iusto excepturi numquam, aperiam eveniet in. Aperiam vitae eaque</p>
                    </div>
                  </div>
                  <div class="item">
                    <div class="profile-img">
                      <img src="https://images.pexels.com/photos/4071709/pexels-photo-4071709.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
                    </div>
                    <div class="text-black">
                      <h3>debraj sikdar</h3>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex et illum iusto excepturi numquam, aperiam eveniet in. Aperiam vitae eaque</p>
                    </div>
                  </div>
              </div>
              </div>
            </div>
          </div>
          <!-- 4 -->
          <div class="our-dj">
            <div class="container">
              <div class="d-flex">
                <div class="section-heading-text">
                  <h2>OUR DJS</h2>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta delectus odit veritatis temporibus nostrum. Ipsum adipisci quod quasi, amet saepe, alias velit autem praesentium nostrum ratione accusamus maxime porro necessitatibus.</p>
                </div>
              </div>
              <div class="d-flex">
                <div class="divide-lg-3 divide-ls-2 divide-xl-1">
                  <div class="team-member">
                    <img src="https://images.pexels.com/photos/2770599/pexels-photo-2770599.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
                    <div class="member-text">
                      <h2>debraj sikdar</h2>
                      <span>Creative Director</span>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                      <a href="">
                        <span class="fa fa-facebook" aria-hidden="true"></span>
                      </a>
                      <a href="">
                        <span class="fa fa-instagram" aria-hidden="true"></span>
                      </a>
                      <a href="">
                        <span class="fa fa-soundcloud" aria-hidden="true"></span>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="divide-lg-3 divide-ls-2 divide-xl-1">
                  <div class="team-member">
                    <img src="https://images.pexels.com/photos/4116672/pexels-photo-4116672.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
                    <div class="member-text">
                      <h2>debraj sikdar</h2>
                      <span>Creative Director</span>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                      <a href="">
                        <span class="fa fa-facebook" aria-hidden="true"></span>
                      </a>
                      <a href="">
                        <span class="fa fa-instagram" aria-hidden="true"></span>
                      </a>
                      <a href="">
                        <span class="fa fa-soundcloud" aria-hidden="true"></span>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="divide-lg-3 divide-ls-2 divide-xl-1">
                  <div class="team-member">
                    <img src="https://images.pexels.com/photos/6326213/pexels-photo-6326213.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
                    <div class="member-text">
                      <h2>debraj sikdar</h2>
                      <span>Creative Director</span>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                      <a href="">
                        <span class="fa fa-facebook" aria-hidden="true"></span>
                      </a>
                      <a href="">
                        <span class="fa fa-instagram" aria-hidden="true"></span>
                      </a>
                      <a href="">
                        <span class="fa fa-soundcloud" aria-hidden="true"></span>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="divide-lg-3 divide-ls-2 divide-xl-1">
                  <div class="team-member">
                    <img src="https://images.pexels.com/photos/432059/pexels-photo-432059.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
                    <div class="member-text">
                      <h2>debraj sikdar</h2>
                      <span>Creative Director</span>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                      <a href="">
                        <span class="fa fa-facebook" aria-hidden="true"></span>
                      </a>
                      
                      <a href="">
                        <span class="fa fa-instagram" aria-hidden="true"></span>
                      </a>
                      <a href="">
                        <span class="fa fa-soundcloud" aria-hidden="true"></span>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="divide-lg-3 divide-ls-2 divide-xl-1">
                  <div class="team-member">
                    <img src="https://images.pexels.com/photos/1093926/pexels-photo-1093926.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
                    <div class="member-text">
                      <h2>debraj sikdar</h2>
                      <span>Creative Director</span>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                      <a href="">
                        <span class="fa fa-facebook" aria-hidden="true"></span>
                      </a>
                      <a href="">
                        <span class="fa fa-instagram" aria-hidden="true"></span>
                      </a>
                      <a href="">
                        <span class="fa fa-soundcloud" aria-hidden="true"></span>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="divide-lg-3 divide-ls-2 divide-xl-1">
                  <div class="team-member">
                    <img src="https://images.pexels.com/photos/1182825/pexels-photo-1182825.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
                    <div class="member-text">
                      <h2>debraj sikdar</h2>
                      <span>Creative Director</span>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                      <a href="">
                        <span class="fa fa-facebook" aria-hidden="true"></span>
                      </a>
                      <a href="">
                        <span class="fa fa-instagram" aria-hidden="true"></span>
                      </a>
                      <a href="">
                        <span class="fa fa-soundcloud" aria-hidden="true"></span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- 5 -->
          <div class="news-events">
            <div class="container">
              <div class="d-flex">
                <div class="section-heading-text">
                  <h2>News & Events</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, quibusdam corrupti animi sit cum nesciunt laborum natus. Qui ducimus eius nam sunt placeat inventore natus tempora unde non! Culpa, deleniti.</p>
                </div>
              </div>
              <div class="d-flex">
                <div class="divide-lg-3 divide-ss-1 divide-xl-1">
                  <img src="https://images.pexels.com/photos/2350325/pexels-photo-2350325.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
                  <div class="text-white">
                    <span>wed 28th 2021</span>
                    <h2>This Is The Day, Party, Party!</h2>
                  </div>
                </div>
                <div class="divide-lg-3 divide-ss-1 divide-xl-1">
                  <img src="https://images.pexels.com/photos/1864641/pexels-photo-1864641.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
                  <div class="text-white">
                    <span>wed 28th 2021</span>
                    <h2>This Is The Day, Party, Party!</h2>
                  </div>
                </div>
                <div class="divide-lg-3 divide-ss-1 divide-xl-1">
                  <img src="https://images.pexels.com/photos/1918160/pexels-photo-1918160.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
                  <div class="text-white">
                    <span>wed 28th 2021</span>
                    <h2>This Is The Day, Party, Party!</h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- 6 -->
          <div class="social-area">
            <div class="container">
              <div class="d-flex justify-space-between">
                <a href="">
                  <i class="fa fa-youtube-play" aria-hidden="true"></i>
                </a>
                <a href="">
                  <i class="fa fa-soundcloud" aria-hidden="true"></i>
                </a>
                <a href="">
                  <i class="fa fa-weibo" aria-hidden="true"></i>
                </a>
                <a href="">
                  <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
                <a href="">
                  <i class="fa fa-odnoklassniki-square" aria-hidden="true"></i>
                </a>
                <a href="">
                  <i class="fa fa-vimeo" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
        </section>

        <footer>
          <div class="container">
            <div class="d-flex">
              <!-- 1 -->
              <div class="divide-lg-3 divide-ls-2 divide-xl-1">
                <div class="d-flex">
                  <div class="divide-lg-1">
                    <h3>ABOUT DJCLUB</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea velit incidunt a rem ratione suscipit vitae est quae laudantium asperiores inventore, sequi aliquid ad dolorem assumenda fugiat. Unde, hic sunt!</p>
                  </div>
                  <div class="divide-lg-1">
                    <h3>SUBSCRIBE</h3>
                    <form action="" class="subscribe">
                      <input type="email" name="" id="" placeholder="Enter Your Email ID">
                      <button type="submit">subscribe</button>
                    </form>
                  </div>
                </div>
              </div>
              <!-- 2 -->
              <div class="divide-lg-3 divide-ls-2 divide-xl-1">
                <div class="d-flex">
                  <div class="divide-lg-1">
                    <h3>NAVIGATIONS</h3>
                    <div class="d-flex">
                      <div class="divide-lg-2 divide-xl-1">
                        <ul><li><a href="">Home</a></li></ul>
                        <ul><li><a href="">DJs</a></li></ul>
                        <ul><li><a href="">News</a></li></ul>
                        <ul><li><a href="">Top 10 of the week</a></li></ul>
                      </div>
                      <div class="divide-lg-2 divide-xl-1">
                        <ul><li><a href="">About Us</a></li></ul>
                        <ul><li><a href="">Privacy Policy</a></li></ul>
                        <ul><li><a href="">Contact Us</a></li></ul>
                        <ul><li><a href="">Membership</a></li></ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="d-flex">
                  <div class="divide-lg-1">
                    <h3>FOLLOW US</h3>
                    <div>
                      <a href="#"><span class="fa fa-facebook"></span></a>
                      <a href="#"><span class="fa fa-instagram"></span></a>
                      <a href="#"><span class="fa fa-youtube-play"></span></a>
                      <a href="#"><span class="fa fa-vimeo"></span></a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- 3 -->
              <div class="divide-lg-3 divide-ls-1">
                <div class="d-flex">
                  <div class="divide-lg-1">
                    <h3>WATCH LIVE STREAMING</h3>
                  </div>
                  <div class="divide-lg-1">
                    <video controls loop autoplay>
                      <source src="https://player.vimeo.com/external/434492654.sd.mp4?s=db549464aeaefe0340c5b55e7822cba9044fb1a6&profile_id=139&oauth2_token_id=57447761">
                    </video>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="d-flex justify-space-center">
              <span class="copyright-text">Copyright ©2021 All rights reserved This template is made DEBRAJ</span>
            </div>
          </div>
        </footer>

        
        
        <!-- <script src="js/jquery-3.5.1.js"></script> -->
        <script src="js/jquery-2.0.2.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <!-- <script src="js/jquery-2.0.2.js"></script> -->
        <script src="js/jquery.stellar.js"></script>
        <script src="js/custom.js"></script>
        

        

        <script>
          $.stellar();
        </script>
        
</body>
</html>